<div class="icon-container" *ngIf="hasIcon && icon">
  <nb-icon [config]="icon"></nb-icon>
</div>
<div class="content-container">
  <a *ngIf="toast.config.destroyByCloseButton" role="button" class="toast-close-button" (click)="onClose()">
    <nb-icon pack="eva" icon="close-outline" status="basic"></nb-icon>
  </a>
  <span class="title subtitle">{{ toast.title }}</span>
  <div class="message">{{ toast.message }}</div>
  <div *ngIf="toast.actions?.length" class="actions-container">
    <a
      *ngFor="let action of toast.actions"
      role="button"
      class="toast-action status-{{ action.color }}"
      (click)="action.callback()"
    >
      {{ action.text }}
    </a>
  </div>
</div>
