:host {
  display: block;
}

.theme-radio-label {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;

  &:last-child {
    margin-right: 0;
  }
}

.theme-radio {
  margin-right: 0.125rem;
}
