<nb-card>
  <nb-card-body>
    <nb-stepper>
      <nb-step>
        <span>1</span>
        <button class="btn btn-primary" nbStepperPrevious>prev</button>
        <button class="btn btn-primary" nbStepperNext>next</button>
      </nb-step>
      <nb-step>
        <span>2</span>
        <button class="btn btn-primary" nbStepperPrevious>prev</button>
        <button class="btn btn-primary" nbStepperNext>next</button>
      </nb-step>
      <nb-step>
        <span>3</span>
        <button class="btn btn-primary" nbStepperPrevious>prev</button>
        <button class="btn btn-primary" nbStepperNext>next</button>
      </nb-step>
      <nb-step>
        <span>4</span>
        <button class="btn btn-primary" nbStepperPrevious>prev</button>
        <button class="btn btn-primary" nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
