.btn-panel {
  display: flex;
  justify-content: center;
  padding-top: 1rem;

  .btn {
    cursor: pointer;
    margin: 0 0.5rem;
  }
}

.input-group {
  padding-top: 1rem;
}

input:focus {
  outline: none;
}
