<nb-card>
  <nb-card-body class="example-last-child-no-b-margin">
    <nb-alert accent="basic">Basic. You have been successfully authenticated!</nb-alert>
    <nb-alert accent="primary">Primary. You have been successfully authenticated!</nb-alert>
    <nb-alert accent="success">Success. You have been successfully authenticated!</nb-alert>
    <nb-alert accent="info">Info. You have been successfully authenticated!</nb-alert>
    <nb-alert accent="warning">Warning. You have been successfully authenticated!</nb-alert>
    <nb-alert accent="danger">Danger. You have been successfully authenticated!</nb-alert>
    <div class="control-status-example">
      <nb-alert accent="control">Control. You have been successfully authenticated!</nb-alert>
    </div>
  </nb-card-body>
</nb-card>
