<nb-card>
  <nb-card-body>
    <nb-alert outline="primary">Primary. You have been successfully authenticated!</nb-alert>
    <nb-alert outline="success">Success. You have been successfully authenticated!</nb-alert>
    <nb-alert outline="info">Info. You have been successfully authenticated!</nb-alert>
    <nb-alert outline="danger">Danger. You have been successfully authenticated!</nb-alert>
    <nb-alert outline="warning">Warning. You have been successfully authenticated!</nb-alert>
  </nb-card-body>
</nb-card>
