<nb-card>
  <nb-card-body>
    <nb-progress-bar [value]="20" status="basic">basic</nb-progress-bar>
    <nb-progress-bar [value]="30" status="primary">primary</nb-progress-bar>
    <nb-progress-bar [value]="50" status="info">info</nb-progress-bar>
    <nb-progress-bar [value]="60" status="success">success</nb-progress-bar>
    <nb-progress-bar [value]="70" status="warning">warning</nb-progress-bar>
    <nb-progress-bar [value]="80" status="danger">danger</nb-progress-bar>
    <div class="control-status-example">
      <nb-progress-bar [value]="90" status="control">control</nb-progress-bar>
    </div>
  </nb-card-body>
</nb-card>
