<div class="nb-stepper-header">
  <ng-container *ngFor="let step of _steps; let i = index; let isFirst = first">
    <div *ngIf="!isFirst && !step.hidden"
         [class.step-connector-past]="i < selectedIndex"
         class="step-connector horizontal"></div>
    <nb-step-header *ngIf="!step.hidden"
                    [label]="step.stepLabel || step.label"
                    [selected]="selectedIndex === i"
                    [index]="i"
                    [completed]="step.completed"
                    (click)="step.select()"
                    class="horizontal">
    </nb-step-header>
  </ng-container>
</div>

<div>
  <div>
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>
</div>
