@import '../../../@theme/styles/themes';

:host {
  display: flex;
  flex: 1;
  padding-top: 1.25rem;
  justify-content: space-around;

  > div {
    display: flex;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: #8F9DB3;
    }

    ul {
      list-style: none;
    }

    li {
      display: flex;
      margin-bottom: 1.375rem;
    }

    &.logo {
      flex-direction: column;
      margin-top: -1.2rem;
      text-align: center;
      img {
        max-width: 9rem;
      }
    }

    .title {
      color: rgba(0, 0, 0, 0.74);
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.375rem;
    }

    .copy {
      color: #8F9DB3;
      display: list-item;
      font-size: 0.75rem;
    }

    .social {
      display: flex;
      flex-direction: row;
      a {
        font-size: 3rem;
        text-decoration: none;
        color: #CDD6E3;
        margin-right: 1rem;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  :host > div.logo {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  :host > div {
    width: 100%;
    justify-content: center;
    margin-right: 0;

    li {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .logo {
      display: none;
    }
  }
}
