<nb-card>
  <nb-card-body>
    <nb-alert status="success">You have been successfully authenticated!</nb-alert>
    <nb-alert status="danger">You have been successfully authenticated!</nb-alert>
    <nb-alert status="primary">You have been successfully authenticated!</nb-alert>
    <nb-alert status="info">You have been successfully authenticated!</nb-alert>
    <nb-alert status="warning">You have been successfully authenticated!</nb-alert>
    <nb-alert status="active">You have been successfully authenticated!</nb-alert>
    <nb-alert status="disabled">You have been successfully authenticated!</nb-alert>
  </nb-card-body>
</nb-card>
