<nb-card>
  <nb-card-body>
    <nb-alert status="success" accent="danger">You have been successfully authenticated!</nb-alert>
    <nb-alert status="danger" accent="primary">You have been successfully authenticated!</nb-alert>
    <nb-alert status="primary" accent="info">You have been successfully authenticated!</nb-alert>
    <nb-alert status="info" accent="warning">You have been successfully authenticated!</nb-alert>
    <nb-alert status="warning" accent="danger">You have been successfully authenticated!</nb-alert>
    <nb-alert status="active" accent="disabled">You have been successfully authenticated!</nb-alert>
    <nb-alert status="disabled" accent="success">You have been successfully authenticated!</nb-alert>
  </nb-card-body>
</nb-card>
