:host ::ng-deep nb-stepper .step-content {
  text-align: center;
  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}

.lorem {
  text-align: justify;
  margin-bottom: 2rem;
}

.input-group {
  padding-bottom: 1rem;
}

.linear-mode-button {
  margin-bottom: 1rem;
}
