@import '../../../../styles/core/mixins';

:host {
  display: flex;
  justify-content: space-between;

  @include nb-ltr() {
    .apply-text-button {
      margin-left: auto;
    }
  }
  @include nb-rtl() {
    .apply-text-button {
      margin-right: auto;
    }
  }
}
