<nb-card>
  <nb-card-header>Button Group Multiple</nb-card-header>
  <nb-card-body class="example-items-rows">
    <nb-button-group
      size="giant"
      shape="rectangle"
      multiple
      filled>
      <button nbButton>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
    </nb-button-group>

    <nb-button-group
      size="large"
      shape="rectangle"
      multiple
      filled>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
    </nb-button-group>

    <nb-button-group
      size="medium"
      shape="rectangle"
      multiple
      filled>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
    </nb-button-group>

    <nb-button-group
      size="small"
      shape="rectangle"
      multiple
      filled>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
    </nb-button-group>

    <nb-button-group
      size="tiny"
      shape="rectangle"
      multiple
      filled>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
    </nb-button-group>
  </nb-card-body>
</nb-card>
