<nb-card>
  <nb-card-header>Button Group Appearances</nb-card-header>
  <nb-card-body class="example-items-rows">
    <nb-button-group
      size="giant"
      filled>
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>
    <nb-button-group
      size="giant"
      status="success"
      outline>
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>
    <nb-button-group
      size="giant"
      status="danger"
      ghost>
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>
  </nb-card-body>
</nb-card>
