<nb-card>
  <nb-card-body class="example-items-col">
    <nb-button-group shape="rectangle">
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>

    <nb-button-group shape="semi-round">
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>

    <nb-button-group shape="round">
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>
  </nb-card-body>
</nb-card>
