<nb-card>
  <nb-card-body>
    <p>
      Group with single select value: {{ singleSelectGroupValue | json }}
    </p>

    <nb-button-group (valueChange)="updateSingleSelectGroupValue($event)">
      <button nbButtonToggle value="One">One</button>
      <button nbButtonToggle value="Two">Two</button>
      <button nbButtonToggle value="Three">Three</button>
    </nb-button-group>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <p>
      Group with single select value: {{ multiSelectGroupValue | json }}
    </p>

    <nb-button-group multiple (valueChange)="updateMultiSelectGroupValue($event)">
      <button nbButtonToggle value="One">One</button>
      <button nbButtonToggle value="Two">Two</button>
      <button nbButtonToggle value="Three">Three</button>
    </nb-button-group>
  </nb-card-body>
</nb-card>

