<nb-card>
  <nb-card-header>Button Group Multiple</nb-card-header>
  <nb-card-body class="example-items-rows">
    <nb-button-group
      size="giant"
      status="danger"
      shape="rectangle"
      multiple
      outline>
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>

    <nb-button-group
      size="giant"
      status="success"
      shape="semi-round"
      multiple
      filled>
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>

    <nb-button-group
      size="giant"
      status="danger"
      shape="rectangle"
      multiple
      ghost>
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>

    <nb-button-group
      size="giant"
      status="warning"
      shape="rectangle"
      multiple
      filled>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
      <button  nbButtonToggle>
        <nb-icon icon="star"></nb-icon>
      </button>
    </nb-button-group>
  </nb-card-body>
</nb-card>
