<nb-card>
  <nb-card-body>
    <nb-button-group multiple>
      <button nbButtonToggle [(pressed)]="isBold">Bold</button>
      <button nbButtonToggle [(pressed)]="isItalic" class="text-italic">Italic</button>
      <button nbButtonToggle [(pressed)]="isUnderline" class="text-underline">Underline</button>
    </nb-button-group>

    <p [class.subtitle]="isBold"
       [class.text-italic]="isItalic"
       [class.text-underline]="isUnderline"
       class="text">
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
    </p>
  </nb-card-body>
</nb-card>
