sudo: false
language: node_js
node_js:
  - '8'

env:
  global:
    - SAUCE_USERNAME=nixa
    - SAUCE_ACCESS_KEY=a922753805a4-7538-6644-c450-48fdf18c
    - BROWSER_STACK_USERNAME=debac1
    - BROWSER_STACK_KEY=V5ykpyxrTxXLSsRBmXpL
    - BROWSER_PROVIDER_READY_FILE=/tmp/nebular/readyfile
    - BROWSER_PROVIDER_ERROR_FILE=/tmp/nebular/errorfile
    - LOGS_DIR=/tmp/nebular/logs
  matrix:
    - MODE=sauce_e2e
    - MODE=browserstack_e2e
    - MODE=sauce_unit_test
    - MODE=browserstack_unit_test
    - MODE=build
    - MODE=docs
    - MODE=lint

branches:
  only:
  - master

matrix:
  fast_finish: true
  allow_failures:
    - env: "MODE=sauce_e2e"
    - env: "MODE=sauce_unit_test"

install:
  - npm install

before_script:
  - mkdir -p $LOGS_DIR

script:
  - ./scripts/ci/travis-script.sh
