<nb-card>
  <nb-card-body class="example-items-col">
    <nb-tag-list>
      <nb-tag status="basic" appearance="filled" text="basic"></nb-tag>
      <nb-tag status="primary" appearance="filled" text="primary"></nb-tag>
      <nb-tag status="success" appearance="filled" text="success"></nb-tag>
      <nb-tag status="info" appearance="filled" text="info"></nb-tag>
      <nb-tag status="warning" appearance="filled" text="warning"></nb-tag>
      <nb-tag status="danger" appearance="filled" text="danger"></nb-tag>
    </nb-tag-list>

    <nb-tag-list>
      <nb-tag status="basic" appearance="outline" text="basic"></nb-tag>
      <nb-tag status="primary" appearance="outline" text="primary"></nb-tag>
      <nb-tag status="success" appearance="outline" text="success"></nb-tag>
      <nb-tag status="info" appearance="outline" text="info"></nb-tag>
      <nb-tag status="warning" appearance="outline" text="warning"></nb-tag>
      <nb-tag status="danger" appearance="outline" text="danger"></nb-tag>
    </nb-tag-list>
  </nb-card-body>
</nb-card>
