:host {
  display: flex;
  flex-direction: column;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.section {
  margin-bottom: 2rem;
}
.popover-container {
  display: flex;
  justify-content: center;
  padding: 12rem;
}
button {
  margin-right: 1rem;
  margin-top: 1rem;
}

::ng-deep nb-popover nb-card {
  box-shadow: none !important;
}
