<button nbButton outline [nbPopover]="text" [nbPopoverPlacement]="placement" [nbPopoverTrigger]="trigger">Open Popover</button>

<button (click)="changePlacement('bottom')">bottom</button>
<button (click)="changePlacement('top')">top</button>
<button (click)="changePlacement('left')">left</button>
<button (click)="changePlacement('right')">right</button>



<button (click)="changeTrigger('click')">click</button>
<button (click)="changeTrigger('hover')">hover</button>
<button (click)="changeTrigger('hint')">hint</button>
<button (click)="changeTrigger('noop')">noop</button>
