<div class="popover-container">
  <button [nbPopover]="componentList" nbPopoverPlacement="bottom" nbButton>Show popover</button>
</div>

<div class="section">
  <h6>Change Component</h6>
  <button nbButton size="small" status="success" (click)="changeComponent(componentList)">Use List Component</button>
  <button nbButton size="small" status="success" (click)="changeComponent(componentTabs)">Use Tabs Component</button>
  <button nbButton size="small" status="success" (click)="changeComponent(list)">Use List Template</button>
  <button nbButton size="small" status="success" (click)="changeComponent(tabs)">Use Tabs Template</button>
  <button nbButton size="small" status="success" (click)="changeComponent(textContent)">Use String</button>
  <button *ngIf="!interval" nbButton size="small" status="warning" (click)="startRuntimeChange()">
    Enable Runtime Change
  </button>
  <button *ngIf="interval" nbButton size="small" status="warning" (click)="stopRuntimeChange()">
    Disable Runtime Change
  </button>

  <div>
    <small>When "Runtime Change" is enabled, open the Popover to see a component change every 2 seconds.</small>
  </div>
</div>

<div class="section">
  <h6>Change trigger</h6>
  <button nbButton size="small" status="success" (click)="changeTrigger('click')">Click Trigger</button>
  <button nbButton size="small" status="success" (click)="changeTrigger('hover')">Hover Trigger</button>
  <button nbButton size="small" status="success" (click)="changeTrigger('hint')">Hint Trigger</button>
</div>

<div class="section">
  <h6>Change placement</h6>
  <button nbButton size="small" status="success" (click)="changePlacement('top')">Top Placement</button>
  <button nbButton size="small" status="success" (click)="changePlacement('right')">Right Placement</button>
  <button nbButton size="small" status="success" (click)="changePlacement('bottom')">Bottom Placement</button>
  <button nbButton size="small" status="success" (click)="changePlacement('left')">Left Placement</button>
</div>

<ng-template #tabs>
  <nb-card class="margin-bottom-0">
    <nb-card-header>Template Shopping list</nb-card-header>
    <nb-tabset>
      <nb-tab tabTitle="Fruits">
        <nb-card class="margin-bottom-0">
          <nb-card-body>Fruits list</nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="Vegetables">
        <nb-card class="margin-bottom-0">
          <nb-card-body>Vegetables list</nb-card-body>
        </nb-card>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</ng-template>

<ng-template #list>
  <nb-card class="margin-bottom-0">
    <nb-card-header>Template Shopping list</nb-card-header>
    <nb-list>
      <nb-list-item>Apple</nb-list-item>
      <nb-list-item>Orange</nb-list-item>
    </nb-list>
  </nb-card>
</ng-template>
