<ul class="route-tabset">
  <ng-container *ngFor="let tab of tabs">
    <li *ngIf="tab.disabled; else enabled"
        [class.responsive]="tab.responsive"
        class="route-tab disabled"
        tabindex="-1">
      <a tabindex="-1" class="tab-link">
        <nb-icon *ngIf="tab.icon" [icon]="tab.icon"></nb-icon>
        <span *ngIf="tab.title" class="tab-text">{{ tab.title }}</span>
      </a>
    </li>

    <ng-template #enabled>
      <li (click)="$event.preventDefault(); selectTab(tab)"
          [routerLink]="tab.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="activeLinkOptions"
          [class.responsive]="tab.responsive"
          tabindex="0"
          class="route-tab">
        <a tabindex="-1" class="tab-link">
          <nb-icon *ngIf="tab.icon" [icon]="tab.icon"></nb-icon>
          <span *ngIf="tab.title" class="tab-text">{{ tab.title }}</span>
        </a>
      </li>
    </ng-template>
  </ng-container>
</ul>
<router-outlet></router-outlet>
