<nb-card>
  <nb-card-body>
    <nb-actions size="medium">
      <nb-action icon="bell-outline" badgeDot badgePosition="top right" badgeStatus="danger"> </nb-action>
      <nb-action icon="person-outline" badgeDot badgePosition="top start" badgeStatus="warning"> </nb-action>
      <nb-action icon="email-outline" badgeDot badgePosition="top left" badgeStatus="danger"> </nb-action>
      <nb-action icon="calendar-outline" badgeDot badgePosition="top right" badgeStatus="info"> </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>
