<nb-card>
  <nb-card-body>

    <nb-actions size="small">
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="power-outline"></nb-action>
      <nb-action icon="person-outline"></nb-action>
      <nb-action icon="home-outline"></nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-actions size="medium">
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="power-outline"></nb-action>
      <nb-action icon="person-outline"></nb-action>
      <nb-action icon="home-outline"></nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-actions size="large">
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="power-outline"></nb-action>
      <nb-action icon="person-outline"></nb-action>
      <nb-action icon="home-outline"></nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>
