<nb-card>
  <nb-card-body>

    <nb-actions size="small">
      <nb-action icon="search"></nb-action>
      <nb-action icon="power-circled"></nb-action>
      <nb-action icon="person"></nb-action>
      <nb-action icon="home"></nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-actions size="medium">
      <nb-action icon="search"></nb-action>
      <nb-action icon="power-circled"></nb-action>
      <nb-action icon="person"></nb-action>
      <nb-action icon="home"></nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-actions size="large">
      <nb-action icon="search"></nb-action>
      <nb-action icon="power-circled"></nb-action>
      <nb-action icon="person"></nb-action>
      <nb-action icon="home"></nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>
