<nb-card>
  <nb-card-body>
    <nb-actions size="medium">
      <nb-action icon="bell-outline"
                 dot
                 badgePosition="top right"
                 badgeText="99+"
                 badgeStatus="danger">
      </nb-action>
      <nb-action icon="person-outline"
                 dot
                 badgePosition="top start"
                 badgeStatus="warning">
      </nb-action>
      <nb-action icon="email-outline"
                 dot
                 badgePosition="top left"
                 badgeStatus="danger">
      </nb-action>
      <nb-action icon="calendar-outline"
                 dot
                 badgePosition="top right"
                 badgeStatus="info">
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>
