@use '../../styles/theming' as *;
@use '../form-field/form-field.component.theme' as form-field-theme;

@mixin select-with-autocomplete-outline {
  nb-select-with-autocomplete.appearance-outline .select-button {
    border-style: var(--select-outline-border-style);
    border-width: var(--select-outline-border-width);

    &.top {
      border-top-style: var(--select-outline-adjacent-border-style);
      border-top-width: var(--select-outline-adjacent-border-width);
    }
    &.bottom {
      border-bottom-style: var(--select-outline-adjacent-border-style);
      border-bottom-width: var(--select-outline-adjacent-border-width);
    }
  }

  @each $status in nb-get-statuses() {
    nb-select-with-autocomplete.appearance-outline.status-#{$status} .select-button {
      background-color: var(--select-outline-#{$status}-background-color);
      border-color: var(--select-outline-#{$status}-border-color);
      color: var(--select-outline-#{$status}-text-color);

      &.placeholder {
        color: var(--select-outline-#{$status}-placeholder-text-color);
      }
      nb-icon {
        color: var(--select-outline-#{$status}-icon-color);
      }

      &:focus {
        background-color: var(--select-outline-#{$status}-focus-background-color);
        border-color: var(--select-outline-#{$status}-focus-border-color);
      }
      &:hover {
        background-color: var(--select-outline-#{$status}-hover-background-color);
        border-color: var(--select-outline-#{$status}-hover-border-color);
      }
      &:focus:hover {
        background-color: var(--select-outline-#{$status}-focus-and-hover-background-color);
        border-color: var(--select-outline-#{$status}-focus-and-hover-border-color);
      }

      &[disabled] {
        color: var(--select-outline-#{$status}-disabled-text-color);
        background-color: var(--select-outline-#{$status}-disabled-background-color);
        border-color: var(--select-outline-#{$status}-disabled-border-color);

        nb-icon {
          color: var(--select-outline-#{$status}-disabled-icon-color);
        }
      }

      &.bottom,
      &.top {
        border-color: var(--select-outline-#{$status}-open-border-color);
      }

      &.top {
        border-top-color: var(--select-outline-#{$status}-adjacent-border-color);
      }
      &.bottom {
        border-bottom-color: var(--select-outline-#{$status}-adjacent-border-color);
      }
    }
  }

  @each $size in nb-get-sizes() {
    nb-select-with-autocomplete.appearance-outline.size-#{$size} {
      .select-button {
        padding: var(--select-outline-#{$size}-padding);
        @include nb-ltr(padding-right, var(--select-icon-offset));
        @include nb-rtl(padding-left, var(--select-icon-offset));
      }

      .nb-form-field-prefix-#{$size},
      .nb-form-field-suffix-#{$size} {
        width: var(--select-icon-offset);
      }

      .nb-form-field-prefix-#{$size} {
        @include nb-ltr(margin-right, calc(#{var(--select-icon-offset)} * -1));
        @include nb-rtl(margin-left, calc(#{var(--select-icon-offset)} * -1));
      }

      .nb-form-field-suffix-#{$size} {
        @include nb-ltr(margin-left, calc(#{var(--select-icon-offset)} * -1));
        @include nb-rtl(margin-right, calc(#{var(--select-icon-offset)} * -1));
      }

      [nbInput] {
        @include nb-ltr(padding-right, var(--select-icon-offset));
        @include nb-rtl(padding-left, var(--select-icon-offset));
      }
    }

    @include form-field-theme.nb-form-field-with-prefix(
      'nb-select-with-autocomplete.appearance-outline.size-#{$size} .select-button',
      $size
    );
  }
}
