nb-card {
  width: 25rem;
  margin-bottom: 0;
  height: 100%;
  max-height: 100vh;
  max-height: -webkit-fill-available;
}

nb-card-header {
  display: flex;
  align-items: center;
}

nb-card-body {
  min-height: 5rem;
}

.close-button {
  margin-left: auto;
  padding: 0;
}

::ng-deep .hs-custom-form .hs-submit-btn {
  margin-top: 2rem;
}
