<nb-card>
  <nb-card-body>

    <nb-actions size="medium">
      <nb-action icon="search-outline"
                 badgeText="99+"
                 badgeStatus="danger">
      </nb-action>
      <nb-action icon="power-outline"
                 badgeText="12"
                 badgePosition="bottom right"
                 badgeStatus="warning">
      </nb-action>
      <nb-action icon="person-outline"
                 badgeText="M"
                 badgePosition="top right"
                 badgeStatus="info">
      </nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>
