<nb-layout>
  <nb-layout-column>
    <nb-card *ngIf="token">
      <nb-card-body><h1 class="title">You are currently authenticated</h1>
        <p></p>
        <p>Current User Access Token: {{ token.getValue() | json }}</p>
        <p>Current User Access Token Payload : {{getClaims(token.getValue()) | json}}</p>
        <p>Current User Refresh Token: {{ token.getRefreshToken() | json }}</p>
        <button nbButton status="warning" *ngIf="token" (click)="logout()">Sign Out</button>
      </nb-card-body>
      <nb-card-body *ngIf="! token"><p>No User Authenticated</p></nb-card-body>
    </nb-card>
    <nb-card *ngIf="!token">
      <nb-card-body>
        <nb-auth-block aria-labelledby="title">
          <h1 id="title" class="title">OAuth2 Sign In with email/password</h1>
          <p class="sub-title">Hello! Sign in with your username or email</p>

          <nb-alert *ngIf="showMessages.error && errors?.length > 0 && !submitted" outline="danger" role="alert">
            <p class="alert-title"><b>Oh snap!</b></p>
            <ul class="alert-message-list">
              <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
            </ul>
          </nb-alert>

          <nb-alert *ngIf="showMessages.success && messages?.length > 0 && !submitted" outline="success" role="alert">
            <p class="alert-title"><b>Hooray!</b></p>
            <ul class="alert-message-list">
              <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
            </ul>
          </nb-alert>

          <form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

            <div class="form-control-group">
              <label class="label" for="input-email">Email address:</label>
              <input nbInput
                     fullWidth
                     [(ngModel)]="user.email"
                     #email="ngModel"
                     name="email"
                     id="input-email"
                     pattern=".+@.+..+"
                     placeholder="Email address"
                     autofocus
                     [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
                     [required]="getConfigValue('forms.validation.email.required')"
                     [attr.aria-invalid]="email.invalid && email.touched ? true : null">
              <ng-container *ngIf="email.invalid && email.touched">
                <p class="caption status-danger" *ngIf="email.errors?.required">
                  Email is required!
                </p>
                <p class="caption status-danger" *ngIf="email.errors?.pattern">
                  Email should be the real one!
                </p>
              </ng-container>
            </div>

            <div class="form-control-group">
              <label class="label" for="input-password">Password:</label>
              <input nbInput
                     fullWidth
                     [(ngModel)]="user.password"
                     #password="ngModel"
                     name="password"
                     type="password"
                     id="input-password"
                     placeholder="Password"
                     [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
                     [required]="getConfigValue('forms.validation.password.required')"
                     [minlength]="getConfigValue('forms.validation.password.minLength')"
                     [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                     [attr.aria-invalid]="password.invalid && password.touched ? true : null">
              <ng-container *ngIf="password.invalid && password.touched ">
                <p class="caption status-danger" *ngIf="password.errors?.required">
                  Password is required!
                </p>
                <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                  Password should contains
                  from {{ getConfigValue('forms.validation.password.minLength') }}
                  to {{ getConfigValue('forms.validation.password.maxLength') }}
                  characters
                </p>
              </ng-container>
            </div>

            <button nbButton
                    fullWidth
                    status="success"
                    [disabled]="submitted || !form.valid"
                    [class.btn-pulse]="submitted">
              Sign In
            </button>
          </form>
        </nb-auth-block>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
