<nb-card size="medium">
  <nb-card-body class="example-items-col">
    <nb-select placeholder="Primary" filled status="primary">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <nb-select placeholder="Info" filled status="info">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <nb-select placeholder="Danger" filled status="danger">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <nb-select placeholder="Success" filled status="success">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <nb-select placeholder="Warning" filled status="warning">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>
  </nb-card-body>
</nb-card>
