<nb-card>
  <nb-card-body class="example-items-col">
    <nb-button-group status="basic">
      <button nbButton>A</button>
      <button nbButton>B</button>
      <button nbButton>C</button>
    </nb-button-group>

    <nb-button-group status="primary">
      <button nbButton>A</button>
      <button nbButton>B</button>
      <button nbButton>C</button>
    </nb-button-group>

    <nb-button-group status="info">
      <button nbButton>A</button>
      <button nbButton>B</button>
      <button nbButton>C</button>
    </nb-button-group>

    <nb-button-group status="warning">
      <button nbButton>A</button>
      <button nbButton>B</button>
      <button nbButton>C</button>
    </nb-button-group>

    <nb-button-group status="danger">
      <button nbButton>A</button>
      <button nbButton>B</button>
      <button nbButton>C</button>
    </nb-button-group>

    <div class="control-status-example">
      <nb-button-group status="control">
        <button nbButton>A</button>
        <button nbButton>B</button>
        <button nbButton>C</button>
      </nb-button-group>
    </div>
  </nb-card-body>
</nb-card>
