<nb-card>
  <nb-card-body>
    <p>A group of buttons:</p>
    <nb-button-group>
      <button nbButton>A</button>
      <button nbButton>B</button>
      <button nbButton>C</button>
      <button nbButton>D</button>
      <button nbButton>E</button>
    </nb-button-group>

    <p>A group of button toggles:</p>
    <nb-button-group multiple>
      <button nbButtonToggle pressed>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
    </nb-button-group>
  </nb-card-body>
</nb-card>
