@import '../../styles/themes';

@include nb-install-component {
  /deep/ nb-card {
    nb-card-header {
      padding-top: nb-theme(page-title-padding-top);
      h1 {
        margin: 0;
        font-weight: nb-theme(card-header-font-weight);
        font-size: nb-theme(card-header-font-size);
      }
    }
    .block-title {
      font-size: nb-theme(block-title-font-size);
      font-weight: nb-theme(block-title-font-weight);
      margin-bottom: nb-theme(block-title-margin-bottom);
    }

    .block-subtitle {
      font-size: nb-theme(block-subtitle-font-size);
      font-weight: nb-theme(block-subtitle-font-weight);
    }

    .block-container {
      margin-bottom: nb-theme(block-margin);
    }

    h2 {
      font-size: nb-theme(second-heading-font-size);
      font-weight: nb-theme(second-heading-font-weight);
    }

    h3 {
      font-size: nb-theme(third-heading-font-size);
      font-weight: nb-theme(third-heading-font-weight);
    }

    .note {
      border-radius: 0.125rem;
      border: 1px solid nb-theme(border-color);
      margin-bottom: 1rem;

      .note-title {
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: nb-theme(font-weight-bold);
        line-height: 2rem;
        padding: 0 1rem;
        background: nb-theme(border-color);
      }

      .note-body {
        padding: 1rem;
      }

      &.note-success {
        border: 1px solid nb-theme(color-success);
        .note-title {
          background: nb-theme(color-success);
          color: white;
        }
      }
      &.note-warning {
        border: 1px solid nb-theme(color-warning);
        .note-title {
          background: nb-theme(color-warning);
          color: white;
        }
      }
      &.note-danger {
        border: 1px solid nb-theme(color-danger);
        .note-title {
          background: nb-theme(color-danger);
          color: white;
        }
      }
      &.note-info {
        border: 1px solid nb-theme(color-info);
        .note-title {
          background: nb-theme(color-info);
          color: white;
        }
      }
    }

    .table {
      min-width: nb-theme(table-min-width);
      thead {
        font-weight: nb-theme(font-weight-bolder);
        td {
          padding: 0.25rem 0.75rem 0.25rem 0;
          border-top: none;
        }
      }
      tbody {
        td {
          padding: 0.75rem 0.75rem 0.75rem 0;
          p {
            margin: 0;
          }
        }
      }
    }

    ngd-methods-block {
      .method-signature ~ .method-description {
        margin-top: 1rem;
      }
    }

    p {
      line-height: 1.5;
    }

    pre {
      background: nb-theme(code-snippets-bg);
      padding: 0.75rem 1rem;
      code {
        color: nb-theme(color-fg);
      }
    }

    .section-end {
      margin-bottom: 3rem;
      border-top: none;
    }

    ul li {
      margin-bottom: 0.25rem;
     & > ul {
       margin-bottom: 0.5rem;
      }
    }

    code {
      color: nb-theme(inline-code-color);
      background: nb-theme(code-snippets-bg);
    }

    ngd-code-highlighter {
      display: none;
      .code-title {
        background: nb-theme(code-snippets-bg);
        padding: 0.75rem 1rem;
        border-radius: 3px;
        border-bottom: 1px solid rgb(224, 225, 235);
        position: relative;
        i {
          position: absolute;
          right: 1rem;
          color: rgb(224, 225, 235);
        }
      }
    }

    .fragment {
      opacity: 0;
      position: absolute;
      left: -2.5rem;
      width: 2.5rem;
      height: 1.5rem;
      background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 0 482.8 482.8" style="enable-background:new 0 0 482.8 482.8;fill:#7659ff;" xml:space="preserve"><g>	<g>		<path d="M255.2,209.3c-5.3,5.3-5.3,13.8,0,19.1c21.9,21.9,21.9,57.5,0,79.4l-115,115c-21.9,21.9-57.5,21.9-79.4,0l-17.3-17.3			c-21.9-21.9-21.9-57.5,0-79.4l115-115c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-115,115C8.7,322.7,0,343.6,0,365.8			c0,22.2,8.6,43.1,24.4,58.8l17.3,17.3c16.2,16.2,37.5,24.3,58.8,24.3s42.6-8.1,58.8-24.3l115-115c32.4-32.4,32.4-85.2,0-117.6			C269.1,204,260.5,204,255.2,209.3z"/>		<path d="M458.5,58.2l-17.3-17.3c-32.4-32.4-85.2-32.4-117.6,0l-115,115c-32.4,32.4-32.4,85.2,0,117.6c5.3,5.3,13.8,5.3,19.1,0			s5.3-13.8,0-19.1c-21.9-21.9-21.9-57.5,0-79.4l115-115c21.9-21.9,57.5-21.9,79.4,0l17.3,17.3c21.9,21.9,21.9,57.5,0,79.4l-115,115			c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l115-115c15.7-15.7,24.4-36.6,24.4-58.8			C482.8,94.8,474.2,73.9,458.5,58.2z"/>	</g></g></svg>');
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity 0.2s ease;
    }

    .class-name , .block-title {
      margin-bottom: 1rem;
      position: relative;
      &:hover > .fragment {
        opacity: 1;
      }
    }

    ngd-theme-block {

      .theme-header {
        margin-top: calc(-#{nb-theme(content-top-gap)} - 1rem);
        padding-top: nb-theme(content-top-gap);
        padding-left: nb-theme(content-left-gap);
        margin-left: -#{nb-theme(content-left-gap)};
        position: fixed;
        max-width: calc(#{nb-theme(content-width)} - #{nb-theme(sidebar-width)});//
        width: 100%;
        height: nb-theme(theme-header-height);
        background: nb-theme(color-bg);
        z-index: 1;
        .theme-title {
          font-size: nb-theme(card-header-font-size);
          font-weight: nb-theme(card-header-font-weight);
          margin-bottom: 1.5rem;
          span {
            font-size: 1rem;
          }
        }
        .input-group {
          width: 70%;
        }
        .form-control {
          padding: 0.5rem 0.75rem;
        }
        .btn {
          padding: 0.5rem 0.75rem;
        }
      }

      .filter-warning {
        margin: 0.375rem 1rem;
        font-size: 0.875rem;
        color: nb-theme(color-warning);
      }

      .theme-table {
        margin-top: calc(#{nb-theme(theme-header-height)} - #{nb-theme(content-top-gap)});
        tbody tr {
          transition: all ease-in .2s;
          &.table-fragment {
            td {
              position: relative;
            }
            .fragment {
              left: -1.5rem;
              width: 1.5rem;
              height: 1rem;
            }
            &:hover .fragment {
              opacity: 1;
            }
          }
          &:hover {
            a, span {
              color: nb-theme(link-color-active);
            }
          }
          &:nth-of-type(odd) {
            background-color: nb-theme(table-row-odd-bg);
          }
          &.highlighted-row {
            transition: all ease-in .2s;
            background: nb-theme(theme-active-row-bg);
            a {
              color: nb-theme(link-color-active);
            }
          }
          td ~ td {
            border-left: 1px solid #ebeef2;
          }
        }
        td {
          padding-left: 1rem;
        }
        a {
          color: nb-theme(color-fg-text);
        }

      }
    }

    ngd-styles-block {
      .table {
        td {
          padding-left: 1rem;
        }
        tbody tr {
          &:nth-of-type(odd) {
            background-color: nb-theme(table-row-odd-bg);
          }
          td ~ td {
            border-left: 1px solid #ebeef2;
          }
        }
      }
    }

    .color-swatch {
      display: inline-block;
      border: 1px solid black;
      width: 15px;
      height: 15px;
      margin-left: 7px;
      border-radius: 2px;
    }

    ngd-themes-header {
      position: fixed;
      top: 80px;
      height: 50px;
      width: 100%;
      z-index: 1;
      &.transparent {
        opacity: 0;
        pointer-events: none;
      }
    }

    .inheritance-icon {
      color: nb-theme(color-primary);
    }

    .theme-parents-cell {
      &:hover {
        .theme-prop-parents {
          opacity: 1;
          transition: all ease .2s;
        }
      }

      .theme-prop-parents {
        display: inline-block;
        opacity: 0;
        transition: all ease .2s;
      }
    }

    @media screen and (max-width: 768px) {
      ngd-examples-block {
        & > div > pre {
          display: none;
        }
        ngd-code-highlighter {
          display: block;
        }
      }
      ngd-theme-block {
        .theme-header .input-group {
          width: 100%;
          padding-right: 1rem;
        }
      }
      .table-container {
        overflow-x: auto;
      }
    }
  }
  @media screen and (max-width: 991px) {
    /deep/ nb-card {
      nb-card-header {
        padding: nb-theme(card-padding-small);
      }
      nb-card-body {
        padding: nb-theme(card-padding-small);
        .fragment {
          display: none;
        }
      }
      ngd-theme-block {
        .theme-header {
          width: calc(100% + 1rem);
        }
      }
    }
  }
}

