<ul class="pages">
  <li>
    <button
      nbButton
      size="medium"
      shape="round"
      ghost
      [disabled]="currentPage === 1 || disabled"
      (click)="onPageChange(currentPage - 1)"
    >
      <nb-icon icon="chevron-left-outline"></nb-icon>
    </button>
  </li>

  <li *ngIf="totalCount === 0 || totalCount === null || totalCount === undefined">
    <button nbButton size="medium" shape="round" [status]="status" class="subtitle">1</button>
  </li>

  <li *ngFor="let page of paginationRange">
    <ng-container *ngIf="page === DOTS">
      <button nbButton size="medium" shape="round" ghost [disabled]="true">
        <div class="dots">...</div>
      </button>
    </ng-container>

    <ng-container *ngIf="page !== DOTS && page === currentPage">
      <button nbButton size="medium" shape="round" [status]="status" class="subtitle">
        {{ page }}
      </button>
    </ng-container>
    <ng-container *ngIf="page !== DOTS && page !== currentPage">
      <button nbButton size="medium" shape="round" (click)="onPageChange(page)" [disabled]="disabled" ghost>
        {{ page }}
      </button>
    </ng-container>
  </li>

  <li>
    <button
      nbButton
      size="medium"
      shape="round"
      ghost
      [disabled]="
        currentPage === lastPage || disabled || totalCount === undefined || totalCount === 0 || totalCount === null
      "
      (click)="onPageChange(currentPage + 1)"
    >
      <nb-icon icon="chevron-right-outline"></nb-icon>
    </button>
  </li>
</ul>

<div *ngIf="showPageSizeOptions">
  <span class="paragraph"> {{ textShow }} </span>
  <nb-select
    placeholder="Selecione"
    [(selected)]="pageSizeSelected"
    (selectedChange)="onPageSizeOptionChange(+$event)"
    #paginationSelect
    [disabled]="disabled"
  >
    <nb-option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</nb-option>
  </nb-select>
  <span class="paragraph"> {{ textOf }} {{ totalCount || 0 }} {{ textItems }} </span>
</div>
