<div>
  <button
    nbButton
    size="medium"
    shape="round"
    ghost
    [disabled]="currentPage === 1"
    (click)="onPageChange(currentPage - 1)"
  >
    <nb-icon icon="chevron-left-outline"></nb-icon>
  </button>

  <ng-container *ngIf="currentPage > 1 + siblingsCount">
    <button nbButton size="medium" shape="round" ghost (click)="onPageChange(1)">1</button>
    <ng-container *ngIf="currentPage > 2 + siblingsCount">
      <button nbButton size="medium" shape="round" ghost [disabled]="true">
        <div class="dots">...</div>
      </button>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="previousPages?.length > 0">
    <button
      nbButton
      size="medium"
      shape="round"
      ghost
      *ngFor="let previousPage of previousPages"
      (click)="onPageChange(previousPage)"
    >
      {{ previousPage }}
    </button>
  </ng-container>

  <button nbButton size="medium" status="primary" shape="round" class="subtitle" (click)="onPageChange(currentPage)">
    {{ currentPage }}
  </button>

  <ng-container *ngIf="nextPages?.length > 0">
    <button
      nbButton
      size="medium"
      shape="round"
      ghost
      *ngFor="let nextPage of nextPages"
      (click)="onPageChange(nextPage)"
    >
      {{ nextPage }}
    </button>
  </ng-container>

  <ng-container *ngIf="currentPage + siblingsCount < lastPage">
    <ng-container *ngIf="currentPage + 1 + siblingsCount < lastPage">
      <button nbButton size="medium" shape="round" ghost [disabled]="true">
        <div class="dots">...</div>
      </button>
    </ng-container>
    <button nbButton size="medium" shape="round" ghost (click)="onPageChange(lastPage)">{{ lastPage }}</button>
  </ng-container>

  <button
    nbButton
    size="medium"
    shape="round"
    ghost
    [disabled]="currentPage === lastPage"
    (click)="onPageChange(currentPage + 1)"
  >
    <nb-icon icon="chevron-right-outline"></nb-icon>
  </button>
</div>
<div *ngIf="showPageSizeOptions">
  <span class="paragraph"> Mostrar </span>
  <nb-select
    placeholder="Selecione"
    [(selected)]="pageSizeSelected"
    (selectedChange)="onPageSizeOptionChange(+$event)"
    class="pagination-select"
  >
    <nb-option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</nb-option>
  </nb-select>
  <span class="paragraph"> de {{ totalCount }} resultados </span>
</div>
