<nb-layout [withScroll]="mode === 'layout'">
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <button nbButton size="tiny" (click)="changeMode()">Change Mode</button> Current: {{ mode }}
        <button nbButton size="tiny" (click)="scrollTo(10, 20)">Scroll to 10, 20</button>
        <button nbButton size="tiny" (click)="scrollTo(0, 0)">Scroll to 0, 0</button>
      </nb-card-header>
      <nb-card-body>{{ text }}</nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
