<nb-calendar-header [date]="today"></nb-calendar-header>

<ng-container [ngSwitch]="activeViewMode">
  <nb-calendar-month-view
    *ngSwitchCase="ViewMode.DATE"
    [activeMonth]="activeMonth"
    [today]="today"
    [selectedValue]="value"
    (change)="valueChange.emit($event)"
    (changeMode)="setViewMode(ViewMode.YEAR)"
    (next)="nextMonth()"
    (prev)="prevMonth()">
  </nb-calendar-month-view>

  <nb-calendar-year-picker
    *ngSwitchCase="ViewMode.YEAR"
    [activeMonth]="activeMonth"
    [startYear]="activeYear"
    (change)="setActiveMonth($event); setViewMode(ViewMode.MONTH)"
    (changeMode)="setViewMode(ViewMode.DATE)"
    (next)="nextYears()"
    (prev)="prevYears()">
  </nb-calendar-year-picker>

  <nb-calendar-month-picker
    *ngSwitchCase="ViewMode.MONTH"
    [activeMonth]="activeMonth"
    [today]="today"
    (change)="setActiveMonth($event); setViewMode(ViewMode.DATE)"
    (changeMode)="setViewMode(ViewMode.DATE)">
  </nb-calendar-month-picker>
</ng-container>

