@mixin nb-list-theme() {
  nb-list-item {
    border-bottom:
      nb-theme(list-item-divider-width)
      nb-theme(list-item-divider-style)
      nb-theme(list-item-divider-color);

    padding: nb-theme(list-item-padding);

    &:first-child {
      border-top:
        nb-theme(list-item-divider-width)
        nb-theme(list-item-divider-style)
        nb-theme(list-item-divider-color);
    }
  }
}
