@use '../../styles/theming' as *;

@mixin nb-list-theme() {
  nb-list-item {
    border-bottom: var(--list-item-divider-width) var(--list-item-divider-style) var(--list-item-divider-color);

    color: var(--list-item-text-color);
    font-family: var(--list-item-font-family);
    font-size: var(--list-item-font-size);
    font-weight: var(--list-item-font-weight);
    line-height: var(--list-item-line-height);
    padding: var(--list-item-padding);

    &:first-child {
      border-top: var(--list-item-divider-width) var(--list-item-divider-style) var(--list-item-divider-color);
    }
  }
}
