<ng-container *ngIf="icon; else projectedContent">
  <a class="icon-container"
     [routerLink]="link"
     [title]="title"
     *ngIf="link">
    <nb-icon [icon]="icon"></nb-icon>
  </a>
  <a class="icon-container"
     [href]="href"
     [title]="title"
     *ngIf="href && !link">
    <nb-icon [icon]="icon"></nb-icon>
  </a>
  <a class="icon-container"
     href="#"
     [title]="title"
     *ngIf="!href && !link"
     (click)="$event.preventDefault()">
    <nb-icon [icon]="icon"></nb-icon>
  </a>
</ng-container>

<ng-template #projectedContent>
  <ng-content></ng-content>
</ng-template>

<nb-badge *ngIf="badgeText"
          [text]="badgeText"
          [status]="badgeStatus"
          [position]="badgePosition">
</nb-badge>
