@use '../../styles/theming' as *;

:host {
  .label {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0;
    min-height: inherit;
  }

  .custom-checkbox {
    flex-shrink: 0;
  }
}

:host(.nb-transition) {
  .custom-checkbox {
    @include nb-component-animation(background-color, border, box-shadow);
  }
  .text {
    @include nb-component-animation(color);
  }
}
