<label class="label">
  <input type="checkbox" class="native-input visually-hidden"
         [disabled]="disabled"
         [checked]="value"
         (change)="updateValueAndIndeterminate($event)"
         (blur)="setTouched()"
         [indeterminate]="indeterminate">
  <span [class.indeterminate]="indeterminate" [class.checked]="value" class="custom-checkbox">
        <nb-icon *ngIf="indeterminate" icon="minus-bold-outline" pack="nebular-essentials"></nb-icon>
        <nb-icon *ngIf="value && !indeterminate" icon="checkmark-bold-outline" pack="nebular-essentials"></nb-icon>
      </span>
  <span class="text">
        <ng-content></ng-content>
      </span>
</label>
