@import '../../styles/core/mixins';

:host {
  .label {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0;
    min-height: inherit;
  }

  .custom-checkbox {
    flex-shrink: 0;
    @include nb-component-animation(background-color, border, box-shadow);
  }

  .text {
    transition: color 0.15s ease-in;
  }
}
