<ng-container *ngIf="viewMode === ViewMode.date">
  <div class="header">
    <i class="nb-arrow-left" (click)="prevMonth()"></i>
    <button class="btn btn-success" (click)="viewMode=ViewMode.year">
      {{ newValue | nbCalendarDate }}
    </button>
    <i class="nb-arrow-right" (click)="nextMonth()"></i>
  </div>

  <div class="body">
    <nb-calendar-month-view *ngIf="viewMode === ViewMode.date"
      [activeMonth]="newValue"
      [currentDate]="currentDate"
      [selectedValue]="value"
      [includeBoundingMonths]="boundingMonths"
      (change)="onChange($event)">
    </nb-calendar-month-view>
  </div>
</ng-container>

<ng-container *ngIf="viewMode === ViewMode.year">
  <div class="header">
    <i class="nb-arrow-left" (click)="prevYears()"></i>
    <button class="btn btn-success" (click)="viewMode=ViewMode.date">
      {{ startYear + ' - ' + (startYear + yearCount) }}
    </button>
    <i class="nb-arrow-right" (click)="nextYears()"></i>
  </div>

  <div class="body">
    <nb-calendar-year-picker
      [value]="newValue"
      [currentDate]="currentDate"
      [startYear]="startYear"
      [yearCount]="yearCount"
      (change)="newValue = $event; viewMode = ViewMode.month">
    </nb-calendar-year-picker>
  </div>
</ng-container>

<ng-container *ngIf="viewMode === ViewMode.month">
  <div class="header month-picker-header">
    <button class="btn btn-success" (click)="viewMode=ViewMode.date">
      {{ newValue | nbCalendarYear }}
    </button>
  </div>

  <div class="body">
    <nb-calendar-month-picker
      [value]="newValue"
      [currentDate]="currentDate"
      (change)="newValue = $event; viewMode = ViewMode.date">
    </nb-calendar-month-picker>
  </div>
</ng-container>
