<ng-container [ngSwitch]="activeViewMode">
  <nb-calendar-month-view
    *ngSwitchCase="ViewMode.DATE"
    [activeMonth]="visibleMonths[0]"
    [today]="today"
    [selectedValue]="selectedValue"
    [config]="config"
    (change)="onChange($event)"
    (changeMode)="selectViewMode(ViewMode.YEAR)"
    (next)="nextMonth()"
    (prev)="prevMonth()">
  </nb-calendar-month-view>

  <nb-calendar-year-picker
    *ngSwitchCase="ViewMode.YEAR"
    [activeMonth]="activeMonth"
    [today]="today"
    [startYear]="activeYear"
    [config]="config"
    (change)="activeMonth = $event; selectViewMode(ViewMode.MONTH)"
    (changeMode)="selectViewMode(ViewMode.DATE)"
    (next)="nextYears()"
    (prev)="prevYears()">
  </nb-calendar-year-picker>

  <nb-calendar-month-picker
    *ngSwitchCase="ViewMode.MONTH"
    [activeMonth]="activeMonth"
    [today]="today"
    (change)="activeMonth = $event; selectViewMode(ViewMode.DATE)"
    (changeMode)="selectViewMode(ViewMode.DATE)">
  </nb-calendar-month-picker>
</ng-container>

