
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;

  i {
    font-size: 1.75rem;
    padding: 0.25rem;
    cursor: pointer;
  }

  &.month-picker-header {
    justify-content: center;
  }
}

.body {
  display: flex;
  align-items: center;
}
