<nb-card>
  <nb-card-header>Button Group</nb-card-header>
  <nb-card-body class="example-items-rows">
    <nb-button-group
      size="giant"
      status="primary"
      shape="semi-round"
      multiple="false"
      filled>
      <nb-button-toggle>1</nb-button-toggle>
      <nb-button-toggle>2</nb-button-toggle>
      <nb-button-toggle>3</nb-button-toggle>
      <nb-button-toggle>4</nb-button-toggle>
      <nb-button-toggle>5</nb-button-toggle>
    </nb-button-group>

    <nb-button-group
      size="giant"
      status="primary"
      shape="semi-round"
      multiple="false"
      ghost>
      <nb-button-toggle>1</nb-button-toggle>
      <nb-button-toggle>2</nb-button-toggle>
      <nb-button-toggle>3</nb-button-toggle>
      <nb-button-toggle>4</nb-button-toggle>
      <nb-button-toggle>5</nb-button-toggle>
    </nb-button-group>

    <nb-button-group
      size="giant"
      status="basic"
      shape="semi-round">
      <button size="giant" nbButton>1</button>
      <button size="giant" nbButton>2</button>
      <button size="giant" nbButton>3</button>
      <button size="giant" nbButton>4</button>
      <button size="giant" nbButton>5</button>
    </nb-button-group>

    <nb-button-group
      size="giant"
      status="success"
      multiple="true"
      filled>
      <nb-button-toggle>
        <nb-icon icon="star"></nb-icon>
      </nb-button-toggle>
      <!--      <button size="giant" nbButton>-->
      <!--        <nb-icon icon="star"></nb-icon>-->
      <!--      </button>-->
      <nb-button-toggle>
        <nb-icon icon="star"></nb-icon>
      </nb-button-toggle>
      <nb-button-toggle>
        <nb-icon icon="star"></nb-icon>
      </nb-button-toggle>
    </nb-button-group>

    <nb-button-toggle>
      <nb-icon icon="star"></nb-icon>
    </nb-button-toggle>

    <nb-button-toggle>
      <button nbButton status="success"><nb-icon icon="star"></nb-icon></button>
    </nb-button-toggle>

    <button nbButton status="success"><nb-icon icon="star"></nb-icon></button>

  </nb-card-body>
</nb-card>
