fieldset {
  border: 0;
}

nb-radio-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.appearance-name {
  text-transform: capitalize;
}

[nbButton] {
  margin-right: 0.75rem;
  margin-bottom: 1rem;
}
