<nb-card>
  <nb-card-body>
    <nb-accordion-group>
      <nb-accordion>
        <nb-accordion-header>
          <nb-accordion-title>Accordion #1</nb-accordion-title>
          <nb-accordion-description>Description #1</nb-accordion-description>
        </nb-accordion-header>
        <nb-accordion-body>
          <span>Accordion Body</span>
        </nb-accordion-body>
      </nb-accordion>

      <nb-accordion>
        <nb-accordion-header>
          <nb-accordion-title>Accordion #2</nb-accordion-title>
          <nb-accordion-description>Description #2</nb-accordion-description>
        </nb-accordion-header>
        <nb-accordion-body>
          <span>Accordion Body</span>
        </nb-accordion-body>
      </nb-accordion>

      <nb-accordion>
        <nb-accordion-header>
          <nb-accordion-title>Accordion #3</nb-accordion-title>
          <nb-accordion-description>Description #3</nb-accordion-description>
        </nb-accordion-header>
        <nb-accordion-body>
          <span>Accordion Body</span>
        </nb-accordion-body>
      </nb-accordion>
    </nb-accordion-group>
  </nb-card-body>
</nb-card>
