@mixin nb-spinner-theme() {
  nb-spinner {
    opacity: 1;
    position: absolute;
    /*
    background-color: nb-theme(card-header-disabled-bg);
    */
    border-radius: inherit;
    width: 100%;
    height: 100%;
    z-index: 6000;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.3s ease-in-out;

    &.active-spinner .spin-circle {
      border-right-color: nb-theme(color-active);
    }
    &.primary-spinner .spin-circle {
      border-right-color: nb-theme(color-primary);
    }
    &.info-spinner .spin-circle {
      border-right-color: nb-theme(color-info);
    }
    &.success-spinner .spin-circle {
      border-right-color: nb-theme(color-success);
    }
    &.warning-spinner .spin-circle {
      border-right-color: nb-theme(color-warning);
    }
    &.danger-spinner .spin-circle {
      border-right-color: nb-theme(color-danger);
    }

    &.hidden {
      opacity: 0;
      transition: none;
    }
    .loading {
      display: flex;
      justify-content: center;
      align-items: center;

      .set-height {
        opacity: 0;
        width: 0;
      }

      .spin-circle {
        animation: spin 0.8s infinite linear;
        border-radius: 50%;
        border-style: solid;
        border-left-color: nb-theme(color-bg-active);
        border-top-color: nb-theme(color-bg-active);
        border-bottom-color: nb-theme(color-bg-active);
      }

      &.loading-small .spin-circle {
        width: 1rem;
        height: 1rem;
        border-width: 0.125rem;
      }

      &.loading-medium .spin-circle {
        width: 1.5rem;
        height: 1.5rem;
        border-width: 0.125rem;
      }

      &.loading-large .spin-circle {
        width: 2.25rem;
        height: 2.25rem;
        border-width: 0.175rem;
      }

      .loading-text {
        margin-left: 0.5rem;
        font-size: 1rem;
        line-height: 1rem;
      }
    }

    &.inline-spinner {
      position: relative;
      background: none;
      float: left;
      height: 1px;
      width: auto;
      display: block;

      &.hidden .loading {
        transition: none;
        margin-right: 0;
        &.loading-small, &.loading-medium, &.loading-large {
          width: 0;
        }
      }

      .loading {
        transition: 0.3s ease-in-out;
        margin-right: 0.5rem;

        .spin-circle {
          position: absolute;
          border-color: nb-theme(color-disabled) nb-theme(color-disabled) nb-theme(color-white);
        }

        &.loading-small {
          width: 1rem;
        }

        &.loading-medium {
          width: 1.5rem;
        }

        &.loading-large {
          width: 2.25rem;
        }
      }
    }
    &.background-disabled {
      background: none;
    }
  }

  @-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(230deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
