@mixin nbd-common() {
  :focus {
    outline: 1px dashed nb-theme(color-fg-heading-light) !important;
  }

  .ds-dropdown-menu {
    box-shadow: nb-theme(shadow);
    border-radius: nb-theme(radius);
  }

  .algolia-autocomplete {
    > input {
      width: 100%;

      &.ds-input {
        padding-right: 1rem !important;
      }
    }

    .ds-dropdown-menu [class^=ds-dataset-] {
      border: none;
    }
  }

  .algolia-docsearch-suggestion--highlight {
    color: nb-theme(color-fg-highlight);
    background: none;
  }

  .algolia-docsearch-suggestion--category-header {
    background-color: transparent;
  }

  nb-card.select {
    border-color: nb-theme(version-select-highlight) !important;
  }

  nb-option {
    background-color: #fff;

    &.selected,
    &:hover {
      background-color: nb-theme(version-select-highlight) !important;
    }
  }
}
