@import 'themes';
@import 'common';
@import 'small-social';
@import 'feather';

// TODO check this path
@import '../../../../src/framework/theme/styles/globals';

@include nb-install() {
  @include nb-layout-theme();
  @include nb-sidebar-theme();
  @include nb-card-theme();
  @include nb-menu-theme();
  @include nb-actions-theme();
  @include nb-search-theme();

  @include nb-typography();
  @include nb-b-buttons-theme();

  @include nbd-common();
};

body {
  scrollbar-face-color: rgba(0, 0, 0, 0.3);
  scrollbar-track-color: rgba(255, 255, 255, 0.7);
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}
