@import 'themes';
@import 'common';

@import 'pace.theme';

@import '../../../../src/framework/theme/styles/global/normalize';
@import '../../../../src/framework/theme/styles/global/components';
@import '../../../../src/framework/theme/styles/global/typography/typography';
@import '../../../../src/framework/bootstrap/styles/globals';

@include nb-install() {
  @include nb-layout-theme();
  @include nb-sidebar-theme();
  @include nb-card-theme();
  @include nb-menu-theme();
  @include nb-actions-theme();
  @include nb-search-theme();
  @include nb-bootstrap-global();
  @include nb-icon-theme();
  @include nb-input-theme();
  @include nb-typography();
  @include nb-buttons-theme();
  @include nb-select-theme();
  @include nb-input-theme();
  @include nb-overlay-theme();

  @include nbd-common();

  // loading progress bar
  @include ngd-pace-theme();
};

body {
  scrollbar-face-color: rgba(0, 0, 0, 0.3);
  scrollbar-track-color: rgba(255, 255, 255, 0.7);
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}
