@import 'themes';
@import 'small-social';

@import '../../../framework/theme/styles/globals';

@include nb-install() {
  @include nb-layout-theme();
  @include nb-sidebar-theme();
  @include nb-menu-theme();
  @include nb-actions-theme();
  @include nb-search-theme();

  @include nb-typography();
  @include nb-b-buttons-theme();
};

body {
  scrollbar-face-color: rgba(0, 0, 0, 0.3);
  scrollbar-track-color: rgba(255, 255, 255, 0.7);
  min-width: 320px;
}
