@import '../../../../src/framework/theme/styles/theming';
@import '../../../../src/framework/theme/styles/themes/default';

@import '~bootstrap/scss/mixins/breakpoints';
@import '../../../../src/framework/theme/styles/global/bootstrap/breakpoints';

$nb-enabled-themes: (docs-home, docs-page);

$nb-themes: nb-register-theme((
  // custom
  content-width: 1144px,

  separator: transparent,
  color-bg: transparent,
  color-fg: white,
  color-fg-text: color-fg,
  color-fg-heading: color-fg,
  shadow: none,
  layout-bg: transparent,
  layout-padding: 0,
  layout-medium-padding: 0,
  layout-small-padding: 0,
  header-padding: 0 1.25rem,
  header-height: 4.25rem,
  footer-height: 18.75rem,
  footer-padding: 1.25rem 0,
  menu-font-size: 0.95rem,
  //menu-item-padding: 0.675rem 1.5rem 0.675rem 1rem,
  menu-font-weight: font-weight-normal,
), docs-home, default);

$nb-themes: nb-register-theme((
  // custom
  content-width: 1440px,

  radius: 0.25rem,
  separator: transparent,
  color-bg: transparent,
  color-fg: #494949,
  color-fg-text: #494949,
  color-fg-heading: #8994A3,
  shadow: 0 8px 20px 0 rgba(218, 224, 235, 0.6),
  layout-bg: #fafafa,
  layout-padding: 3.25rem 1.25rem 3.25rem 1rem,
  header-bg: white,
  sidebar-padding: 2rem,
  sidebar-shadow: none,
  color-fg-highlight: #4479e7,
  link-color:	color-fg-highlight,
  link-color-hover: color-fg-highlight,
  link-color-visited: color-fg-highlight,
  header-padding: 0,
  header-fg: black,
  menu-fg: black,
  menu-submenu-padding: 0,
  menu-submenu-item-padding: 0.5rem 0,
  menu-submenu-item-container-padding: 0 1rem,
  menu-active-fg: menu-fg,
  menu-submenu-active-border-color: transparent,
  menu-submenu-active-fg: color-fg-highlight,
  card-bg: white,
  card-header-font-size: 2rem,
  card-header-font-weight: bold,
  card-header-fg-heading: black,
  card-margin: 2.5rem,
  card-padding: 2rem 3rem 3.25rem 2rem,
  footer-height: 600px,
), docs-page, docs-home);
