<button class="btn btn-outline-primary" nbPopover="Right Popover!" nbPopoverPlacement="right">
  Right
</button>

<button class="btn btn-outline-primary" nbPopover="Bottom Popover!" nbPopoverPlacement="bottom">
  Bottom
</button>

<button class="btn btn-outline-primary" nbPopover="Top Popover!" nbPopoverPlacement="top">
  Top
</button>

<button class="btn btn-outline-primary" nbPopover="Left Popover!" nbPopoverPlacement="left">
  Left
</button>

<button class="btn btn-outline-primary" nbPopover="Start Popover!" nbPopoverPlacement="start">
  Start
</button>

<button class="btn btn-outline-primary" nbPopover="End Popover!" nbPopoverPlacement="end">
  End
</button>
