<div [style.width.px]="1000" style="display: flex; align-items: center; justify-content: center">
  <button nbButton outline nbPopover="Hi, I'm popover!" nbPopoverPlacement="right">Open Popover</button>
</div>

<div [style.width.px]="100" [style.height.px]="200"></div>
<div [style.width.px]="100" [style.height.px]="200"></div>
<div [style.width.px]="100" [style.height.px]="200"></div>
<div [style.width.px]="100" [style.height.px]="200"></div>
<div [style.width.px]="100" [style.height.px]="200"></div>
<div [style.width.px]="100" [style.height.px]="200"></div>
<div [style.width.px]="100" [style.height.px]="200"></div>
<div [style.width.px]="100" [style.height.px]="200"></div>
<div [style.width.px]="100" [style.height.px]="200"></div>
<div [style.width.px]="100" [style.height.px]="200"></div>
<div [style.width.px]="100" [style.height.px]="200"></div>

