:host {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

nb-card {
  flex: 1 0 auto;
  margin: 0.5rem;

  &.configuration {
    flex: 1 0 100%;
  }
}

.configuration .controls-container {
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

fieldset {
  border: 0;
}

nb-radio-group {
  display: flex;
  flex-wrap: wrap;
}

.appearance-name {
  text-transform: capitalize;
}

.select-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.select-container {
  margin: 0.5rem 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
