<nb-card size="medium">
  <nb-card-body class="example-items-col">
    <nb-select disabled placeholder="Disabled">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <nb-select placeholder="Disabled option">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2" disabled>Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4" disabled>Option 4</nb-option>
    </nb-select>

    <nb-select placeholder="Disabled Groups">

      <nb-option-group title="Group 1">
        <nb-option value="1">Option 1</nb-option>
        <nb-option value="2" disabled>Option 2</nb-option>
      </nb-option-group>

      <nb-option-group title="Disabled group" disabled>
        <nb-option value="21">Option 21</nb-option>
        <nb-option value="22">Option 22</nb-option>
      </nb-option-group>

    </nb-select>
  </nb-card-body>
</nb-card>
