@import 'themes';
@import '../../framework/theme/styles/globals';
@import '../../framework/auth/styles/globals';

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global();
};

body {
  scrollbar-face-color: rgba(0, 0, 0, 0.3);
  scrollbar-track-color: rgba(255, 255, 255, 0.7);
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

nb-card.popover-card {
  margin: 0;
  box-shadow: none;
}
