@import 'themes';
@import '../../framework/theme/styles/globals';
@import '../../framework/auth/styles/globals';
@import 'example-helpers';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global();

  @include nb-example-helpers();
};

body {
  scrollbar-face-color: rgba(0, 0, 0, 0.3);
  scrollbar-track-color: rgba(255, 255, 255, 0.7);
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

nb-card.popover-card {
  margin: 0;
  box-shadow: none;
}
