@import '../../framework/theme/styles/theming';
@import '../../framework/theme/styles/themes';

$nb-enabled-themes: (default, cosmic, corporate);

$nb-themes: nb-register-theme((
), default, default);

$nb-themes: nb-register-theme((

), cosmic, cosmic);

$nb-themes: nb-register-theme((

), corporate, corporate);
