@import '../@theme/styles/themes';

@include nb-install-component() {

  $content-width: nb-theme(content-width);
  $settings-width: nb-theme(settings-col-width);
  $layout-bg: nb-theme(layout-bg);

  .toc-sidebar {
    background-color: $layout-bg;

    &.fixed {
      box-shadow: 8px 0 20px 0 rgba(218, 224, 235, 0.6);
    }
  }

  .content-center {
    max-width: $content-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .contact-us {
    padding: 5rem 0;
    h2 {
      color: black;
    }
  }

  /deep/ nb-layout .main-container {
    padding-top: 3rem;

    .scrollable {
      padding-top: 0;
    }
  }

  /deep/ nb-layout .layout-container {
    max-width: $content-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /deep/ nb-sidebar nb-menu {
    > ul > li {
      margin-bottom: 1.25rem;
      font-weight: bold;
      li {
        font-size: 0.875rem;
        font-weight: normal;
      }
    }
  }

  @include media-breakpoint-up(vertical-settings-column) {
    /deep/ nb-layout-footer {
      margin-right: $settings-width;

      ngd-footer .contact {
        display: none;
      }
    }
  }
}
