@import '../@theme/styles/themes';

@include nb-install-component() {

  .content-center {
    max-width: nb-theme(content-width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .contact-us {
    padding: 5rem 0;
    h2 {
      color: black;
    }
  }

  /deep/ nb-layout .main-container {
    padding-top: 3rem;

    .scrollable {
      padding-top: 0;
    }
  }

  /deep/ nb-layout .layout-container {
    max-width: nb-theme(content-width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /deep/ nb-sidebar nb-menu {
    > ul > li {
      margin-bottom: 1.25rem;
      font-weight: bold;
      li {
        font-size: 0.875rem;
        font-weight: normal;
      }
    }
  }

  /deep/ nb-layout-footer {
    margin-right: nb-theme(settings-col-width);
    ngd-footer .contact {
      display: none;
    }
  }
}
