<nb-card>
  <nb-card-body class="example-items-rows">
    <nb-icon icon="heart-outline"></nb-icon>
    <nb-icon icon="heart-outline" status="basic"></nb-icon>
    <nb-icon icon="heart-outline" status="primary"></nb-icon>
    <nb-icon icon="heart-outline" status="info"></nb-icon>
    <nb-icon icon="heart-outline" status="success"></nb-icon>
    <nb-icon icon="heart-outline" status="warning"></nb-icon>
    <nb-icon icon="heart-outline" status="danger"></nb-icon>
    <div class="control-status-example">
      <nb-icon icon="heart-outline" status="control"></nb-icon>
    </div>
  </nb-card-body>
</nb-card>
