<nb-card>
  <nb-card-body>
    <nb-icon icon="home-outline"></nb-icon>
    <nb-icon icon="mic-outline" status="primary"></nb-icon>

    <nb-icon icon="home" pack="nebular" status="primary"></nb-icon>

    <nb-icon icon="bell-outline" status="success" [options]="{ animation: { type: 'flip', hover: false, infinite: true } }"></nb-icon>
    <nb-icon icon="heart-outline" status="info" [options]="{ animation: { type: 'pulse', hover: false, infinite: true } }"></nb-icon>
    <nb-icon icon="bulb-outline" status="warning" [options]="{ animation: { type: 'zoom', hover: false, infinite: true } }"></nb-icon>
    <nb-icon icon="car-outline" status="danger" [options]="{ animation: { type: 'shake', hover: false, infinite: true } }"></nb-icon>
  </nb-card-body>
</nb-card>
