<button nbButton outline nbPopover="Right Popover!" nbPopoverPlacement="right">
  Right
</button>

<button nbButton outline nbPopover="Bottom Popover!" nbPopoverPlacement="bottom">
  Bottom
</button>

<button nbButton outline nbPopover="Top Popover!" nbPopoverPlacement="top">
  Top
</button>

<button nbButton outline nbPopover="Left Popover!" nbPopoverPlacement="left">
  Left
</button>

<button nbButton outline nbPopover="Start Popover!" nbPopoverPlacement="start">
  Start
</button>

<button nbButton outline nbPopover="End Popover!" nbPopoverPlacement="end">
  End
</button>
