<nb-card size="giant">
  <nb-card-body class="example-items-col">
    <nb-select placeholder="Basic" status="basic">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <nb-select placeholder="Primary" status="primary">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <nb-select placeholder="Info" status="info">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <nb-select placeholder="Danger" status="danger">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <nb-select placeholder="Success" status="success">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <nb-select placeholder="Warning" status="warning">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <div class="control-status-example">
      <nb-select placeholder="Control" status="control">
        <nb-option value="1">Option 1</nb-option>
        <nb-option value="2">Option 2</nb-option>
        <nb-option value="3">Option 3</nb-option>
        <nb-option value="4">Option 4</nb-option>
      </nb-select>
    </div>
  </nb-card-body>
</nb-card>
