:host {
  display: block;
  flex: 1;

  &.cell-today {
    color: red;
  }

  &.cell-bounding-month {
    opacity: 0.5;
  }

  &.cell-selected {
    border: 1px solid black;
  }

  &.cell-range-inbetween {
    color: yellow;
  }
}
