@import '../../styles/core/mixins';

:host {
  display: inline-flex;
  outline: none;

  &.toggle-label-left {
    .toggle {
      order: 2;
    }

    .text {
      order: 1;
      @include nb-rtl(padding-left, 0.6875rem);
      @include nb-ltr(padding-right, 0.6875rem);
    }
  }

  &.toggle-label-right {
    .text {
      padding-left: 0.6875rem;
      @include nb-ltr(padding-left, 0.6875rem);
      @include nb-rtl(padding-right, 0.6875rem);
    }
  }

  &.toggle-label-start {
    .toggle-label {
      flex-direction: column;
    }

    .toggle {
      order: 2;
    }

    .text {
      order: 1;
      padding-bottom: 0.6875rem;
    }
  }

  &.toggle-label-end {
    .toggle-label {
      flex-direction: column;
    }

    .text {
      padding-top: 0.6875rem;
    }
  }
}

.toggle-label {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.toggle {
  position: relative;
  display: inline-flex;
  box-sizing: content-box;
  @include nb-component-animation(background-color, border, box-shadow);
}

.toggle-switcher {
  position: absolute;
  border-radius: 50%;
  margin: 1px;

  nb-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }
}
