@import '../../styles/core/mixins';

:host {
  display: inline-flex;
  outline: none;

  .toggle-label {
    position: relative;
    display: inline-flex;
    border-radius: inherit;

    input {
      display: none;

      &:not(:checked) + .toggle {
        > .toggle-switcher::after {
          content: none;
        }
      }
    }

    .toggle {
      position: relative;
      display: inline-flex;
      border-radius: inherit;
      box-sizing: content-box;

      .toggle-switcher {
        position: absolute;
        border-radius: 50%;
        margin: 1px;

        nb-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 40%;
        }
      }
    }
  }
}
