@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin nb-alert-variant($body-color) {
  background-color: nb-theme(layout-bg);
  border: none;
  color: $body-color;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $body-color!important;
  }

  .alert-link {
    color: $body-color;
    text-decoration: none;
    font-weight: nb-theme(font-weight-normal);
    border-bottom: 1px dashed $body-color;

    @include hover-focus {
      border-bottom: 1px solid $body-color;
    }
  }
}

@mixin nb-typography {

  .font-secondary {
    font-family: nb-theme(font-secondary);

    .header .name {
      font-size: 4.5rem;
    }
  }

  .font-main {
    font-family: nb-theme(font-main);

    .header .name {
      font-size: 2.5rem;
    }
  }

  .font-w-light {
    font-weight: nb-theme(font-weight-light);
  }

  .font-w-regular {
    font-weight: nb-theme(font-weight-normal);
  }

  .font-w-bold {
    font-weight: nb-theme(font-weight-bold);
  }

  .text-primary {
    color: nb-theme(color-primary) !important;
  }
  .text-warning {
    color: nb-theme(color-warning) !important;
  }
  .text-success {
    color: nb-theme(color-success) !important;
  }
  .text-info {
    color: nb-theme(color-info) !important;
  }
  .text-danger {
    color: nb-theme(color-danger) !important;
  }
  .text-heading {
    color: nb-theme(color-fg-heading) !important;
  }
  .text-body {
    color: nb-theme(color-fg-text) !important;
  }
  .text-hint {
    color: nb-theme(color-fg) !important;
  }
  .text-white {
    color: nb-theme(color-white) !important;
  }

  .bg-primary {
    background-color: nb-theme(color-primary) !important;
  }
  .bg-warning {
    background-color: nb-theme(color-warning) !important;
  }
  .bg-success {
    background-color: nb-theme(color-success) !important;
  }
  .bg-info {
    background-color: nb-theme(color-info) !important;
  }
  .bg-danger {
    background-color: nb-theme(color-danger) !important;
  }
  .bg-heading {
    background-color: nb-theme(color-fg-heading) !important;
  }
  .bg-body {
    background-color: nb-theme(color-fg-text) !important;
  }
  .bg-hint {
    background-color: nb-theme(color-fg) !important;
  }
  .bg-white {
    background-color: nb-theme(color-white) !important;
  }
  .text-indent {
    text-indent: 2rem;
  }

  .blockquote {
    font-size: nb-theme(font-size);
    color: nb-theme(color-fg-text);

    @include nb-ltr(border-left, 0.25rem solid nb-theme(color-fg-highlight));
    @include nb-rtl(border-right, 0.25rem solid nb-theme(color-fg-highlight));
  }
  .blockquote-reverse {
    font-size: nb-theme(font-size);
    color: nb-theme(color-fg-text);

    @include nb-ltr(border-right, 0.25rem solid nb-theme(color-fg-highlight));
    @include nb-rtl(border-left, 0.25rem solid nb-theme(color-fg-highlight));
  }
  .blockquote-footer {
    color: nb-theme(color-fg);
    font-style: italic;
    font-size: 100%;
  }

  small, .small {
    font-size: 87.5%;
  }

  mark, .mark {
    padding: 0.05em;
    background-color: nb-theme(color-primary);
    color: nb-theme(color-white);
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: nb-theme(font-secondary);
    color: nb-theme(color-fg-heading);
    font-weight: nb-theme(font-weight-bolder);
  }

  strong, b {
    font-weight: nb-theme(font-weight-bold);
  }

  a {
    color: nb-theme(link-color);

    @include hover-focus {
      color: nb-theme(link-color-hover);
    }
  }

  ol,ul {
    @include nb-ltr(padding-left, 1.25rem);
    @include nb-rtl(padding-right, 1.25rem);
  }

  .alert {
    border: none!important;
  }

  .alert-success {
    @include nb-alert-variant(nb-theme(color-success));
  }
  .alert-info {
    @include nb-alert-variant(nb-theme(color-info));
  }
  .alert-warning {
    @include nb-alert-variant(nb-theme(color-warning));
  }
  .alert-danger {
    @include nb-alert-variant(nb-theme(color-danger));
  }
  .alert-primary {
    @include nb-alert-variant(nb-theme(color-primary));
  }
  .alert-hint {
    @include nb-alert-variant(nb-theme(color-fg));
  }

}
