.framework-options-bar {
  display: flex;
}

::ng-deep {
  .options-bar {
    display: flex;
    align-items: center;
  }
  .options-show {
    margin-left: auto;
  }
  .options-show.fixed {
    position: fixed;
    right: 0;
    top: 0;
  }
}
