<nb-card>
  <nb-card-body>
    <button class="linear-mode-button"
            nbButton
            (click)="toggleLinearMode()">
      {{ linearMode ? 'Disable' : 'Enable' }} linear mode
    </button>

    <nb-stepper #stepper [linear]="linearMode">

      <nb-step [stepControl]="nameForm" label="Name">
        <form #nameForm="ngForm" class="step-container">
          <div class="input-group">
            <input type="text"
                   placeholder="Enter your name"
                   class="form-control"
                   name="name"
                   required
                   nbInput
                   ngModel
                   #name="ngModel"
                   [status]="name.invalid ? 'danger' : 'basic'">
          </div>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>

      <nb-step [stepControl]="movieForm" label="Movie">
        <form #movieForm="ngForm" class="step-container">
          <div class="input-group">
            <input type="text"
                   placeholder="Enter your favorite movie"
                   class="form-control"
                   name="movie"
                   required
                   nbInput
                   ngModel
                   #movie="ngModel"
                   [status]="movie.invalid ? 'danger' : 'basic'">
          </div>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>

      <nb-step [stepControl]="somethingForm" label="Something">
        <form #somethingForm="ngForm" class="step-container">
          <div class="input-group">
            <input type="text"
                   placeholder="Enter something"
                   class="form-control"
                   name="something"
                   required
                   nbInput
                   ngModel
                   #somethingInput="ngModel"
                   [status]="somethingInput.invalid ? 'danger' : 'basic'">
          </div>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>

      <nb-step [hidden]="true">
        <div class="step-container">
          <h3>Wizard completed!</h3>
          <button nbButton (click)="stepper.reset()">Try again</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
