<nb-reveal-card>
  <nb-card-front>
    <nb-card size="tiny">
      <nb-card-header>Front Card Header</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a
        name for any diffuse astronomical object, including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="tiny">
      <nb-card-header>Back Card Header</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a
        name for any diffuse astronomical object, including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>

<nb-reveal-card>
  <nb-card-front>
    <nb-card size="large">
      <nb-card-header>Front Card Header</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a
        name for any diffuse astronomical object, including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="large">
      <nb-card-header>Back Card Header</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a
        name for any diffuse astronomical object, including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
