@import '../../../../styles/themes';

@include nb-install-component {

  /deep/ nb-tabset {
    & > nb-tab {
      overflow: inherit;
    }

    & > ul {
      padding: 0 0 1.5rem;
      border-bottom: 0;
    }
  }
}
