:host {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

nb-card {
  flex: 1 0 auto;
  margin: 0.5rem;

  &.configuration {
    flex: 0 1 auto;
  }
}

.appearance-name {
  text-transform: capitalize;
}

nb-select {
  margin: 1rem 0;
}

fieldset {
  border: 0;
}
