<nb-select placeholder="XSmall" size="xsmall">
  <nb-option value="1">Option 1</nb-option>
  <nb-option value="2">Option 2</nb-option>
  <nb-option value="3">Option 3</nb-option>
  <nb-option value="4">Option 4</nb-option>
</nb-select>

<nb-select placeholder="Small" size="small">
  <nb-option value="1">Option 1</nb-option>
  <nb-option value="2">Option 2</nb-option>
  <nb-option value="3">Option 3</nb-option>
  <nb-option value="4">Option 4</nb-option>
</nb-select>

<nb-select placeholder="Medium" size="medium">
  <nb-option value="1">Option 1</nb-option>
  <nb-option value="2">Option 2</nb-option>
  <nb-option value="3">Option 3</nb-option>
  <nb-option value="4">Option 4</nb-option>
</nb-select>

<nb-select placeholder="Large" size="large">
  <nb-option value="1">Option 1</nb-option>
  <nb-option value="2">Option 2</nb-option>
  <nb-option value="3">Option 3</nb-option>
  <nb-option value="4">Option 4</nb-option>
</nb-select>
