<nb-card size="small">
  <nb-card-body>

    <div class="select-icon-container">
      <nb-form-field>
        <nb-icon nbPrefix icon="star"></nb-icon>
        <nb-select placeholder="Select Showcase">
          <nb-option value="">Option empty</nb-option>
          <nb-option value="0">Option 0</nb-option>
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
        </nb-select>
      </nb-form-field>
    </div>

    <div class="select-icon-container">
      <nb-form-field>
        <nb-icon nbPrefix icon="alert-circle-outline"></nb-icon>
        <nb-select placeholder="Select Showcase">
          <nb-option value="">Option empty</nb-option>
          <nb-option value="0">Option 0</nb-option>
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
        </nb-select>
      </nb-form-field>
    </div>

    <div class="select-icon-container">
      <nb-form-field>
        <nb-icon nbPrefix icon="facebook-outline"></nb-icon>
        <nb-select placeholder="Select Showcase">
          <nb-option value="">Option empty</nb-option>
          <nb-option value="0">Option 0</nb-option>
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
        </nb-select>
      </nb-form-field>
    </div>

    <div class="select-icon-container">
      <nb-form-field>
        <nb-icon nbPrefix icon="bulb-outline"></nb-icon>
        <nb-select placeholder="Select Showcase">
          <nb-option value="">Option empty</nb-option>
          <nb-option value="0">Option 0</nb-option>
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
        </nb-select>
      </nb-form-field>
    </div>

  </nb-card-body>
</nb-card>
