<nb-card [size]="xxlarge">
  <nb-card-header>
    Font Colors
  </nb-card-header>
  <nb-card-body>
    <div class="colors">
      <div class="item text-heading">
        <div class="color bg-heading"></div>
        <div>
          <h5 class="text-heading">Heading Text</h5>
          Far far away, behind the your awesomeness.
        </div>
      </div>
      <div class="item text-body">
        <div class="color bg-body"></div>
        <div>
          <h5 class="text-body">Body Text</h5>
          Far far away, behind the your awesomeness.
        </div>
      </div>
      <div class="item text-hint">
        <div class="color bg-hint"></div>
        <div>
          <h5 class="text-hint">Hint Text</h5>
          Far far away, behind the your awesomeness.
        </div>
      </div>
      <div class="item text-primary">
        <div class="color bg-primary"></div>
        <div>
          <h5 class="text-primary">Primary Text</h5>
          Far far away, behind the your awesomeness.
        </div>
      </div>
      <div class="item text-success">
        <div class="color bg-success"></div>
        <div>
          <h5 class="text-success">Success Text</h5>
          Far far away, behind the your awesomeness.
        </div>
      </div>
      <div class="item text-info">
        <div class="color bg-info"></div>
        <div>
          <h5 class="text-info">Info Text</h5>
          Far far away, behind the your awesomeness.
        </div>
      </div>
      <div class="item text-warning">
        <div class="color bg-warning"></div>
        <div>
          <h5 class="text-warning">Warning Text</h5>
          Far far away, behind the your awesomeness.
        </div>
      </div>
      <div class="item text-danger">
        <div class="color bg-danger"></div>
        <div>
          <h5 class="text-danger">Danger Text</h5>
          Far far away, behind the your awesomeness.
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
