@import '../../styles/core/mixins';

:host {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;

  .file-name {
    flex: 1;
  }

  .file-info {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .preview-container {
    width: 5rem;
    height: 5rem;
  }

  .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  nb-progress-bar {
    width: 100%;
    align-self: flex-end;
  }

  .remove-button {
    align-self: flex-start;
  }

}
