@import '../../styles/core/mixins';

:host {
  display: flex;

  .imagePreview {
    img {
      max-width: 30%;
    }
  }
  .form-group {
    width: 100%;

    input {
      opacity: 0;
      z-index: 2;
      width: 100%;
    }
  }

}
