::ng-deep {
  nb-layout-column {
    height: 80vw;
  }

  button + button {
    margin-left: 1rem;
  }

  .dialog-card {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  @media (min-width: 40rem) {
    .dialog-card {
      width: 38rem;
    }
  }
}
