@import '../../../@theme/styles/themes';

@include nb-install-component() {

  $left-section-width: nb-theme(sidebar-width);
  $right-section-width: nb-theme(settings-col-width);
  $logo-fg: nb-theme(header-fg);
  $version-fg: nb-theme(color-fg-heading-light);
  $menu-item-fg: nb-theme(color-fg-heading-light);
  $menu-item-fg-active: nb-theme(header-menu-fg-active);

  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;

  .sidebar-toggle {
    border: none;
    background-color: transparent;
    font-size: 2.5rem;
    line-height: 1rem;

    .nb-menu {
      vertical-align: middle;
    }
  }

  .section {
    display: flex;
    padding: 0.875rem 1.125rem;

    &.left {
      width: $left-section-width;
    }

    &.middle {
      flex: 1;
    }

    &.right {
      width: $right-section-width;
    }
  }

  /deep/ nb-menu {
    flex: 1;
    .menu-items {
      display: flex;

      .menu-item {
        border: none;

        &:first-child a {
          padding-left: 0;
        }

        a {
          color: $menu-item-fg;

          &:hover, &.active {
            color: $menu-item-fg-active;
          }
        }
      }
    }
  }

  .logo {
    display: flex;
    flex: 1;
    flex-direction: column;

    a {
      font-size: 1.275rem;
      color: $logo-fg;
      text-decoration: none !important;
      font-weight: bold;
    }

    .version {
      display: none;
      font-size: 0.75rem;
      font-weight: bold;
      color: $version-fg;
    }
  }

  .stars {
    width: 95px;
    height: 20px;
    margin-left: auto;
  }

  @include media-breakpoint-down(md) {
    /deep/ nb-menu .menu-items {
      justify-content: flex-end;

      li {
        display: none;

        &:nth-child(1), &:nth-child(2) {
          display: flex;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    /deep/ nb-menu .menu-items li:nth-child(2) {
      display: none;
    }
  }

  @include media-breakpoint-up(xl) {
    .sidebar-toggle {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    .logo {
      align-items: baseline;
      flex: 1 0 auto;

      .version {
        display: inline;
        margin-left: 0.5rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .logo {
      display: flex;
      flex: 1;
      flex-direction: column;

      .version {
        margin-left: 0;
      }
    }
  }
}
