@import '../../../@theme/styles/themes';

@include nb-install-component() {

  $logo-width: nb-theme(sidebar-width);
  $logo-fg: nb-theme(header-fg);
  $version-fg: nb-theme(color-fg-heading-light);
  $menu-item-fg: nb-theme(color-fg-heading-light);
  $menu-item-fg-active: nb-theme(color-fg-highlight);

  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0.875rem 1.125rem;

  /deep/ nb-menu {
    flex: 3;
    .menu-items {
      display: flex;

      .menu-item {
        border: none;

        &:first-child a {
          padding-left: 0;
        }

        a {
          color: $menu-item-fg;

          &:hover, &.active {
            color: $menu-item-fg-active;
          }
        }
      }
    }
  }

  .logo {
    display: flex;
    flex: 1;
    max-width: $logo-width;
    flex-direction: column;

    a {
      font-size: 1.275rem;
      color: $logo-fg;
      text-decoration: none !important;
      font-weight: bold;
    }

    .version {
      font-size: 0.75rem;
      font-weight: bold;
      color: $version-fg;
    }
  }

  .stars {
    width: 95px;
    height: 20px;
    margin-left: auto;
  }

  @include media-breakpoint-down(md) {
    /deep/ nb-menu .menu-items {
      justify-content: flex-end;

      li {
        display: none;

        &:nth-child(1), &:nth-child(2) {
          display: flex;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    /deep/ nb-menu .menu-items li:nth-child(2) {
      display: none;
    }
  }
}
