@import '../../../@theme/styles/themes';

@include nb-install-component() {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0.875rem 1.125rem;

  /deep/ nb-menu {
    flex: 3;
    .menu-items {
      display: flex;

      .menu-item {
        border: none;

        &:first-child a {
          padding-left: 0;
        }
      }
    }
  }

  .logo {
    display: flex;
    flex: 1;
    max-width: nb-theme(sidebar-width);
    flex-direction: column;

    a {
      font-size: 1.275rem;
      color: nb-theme(header-fg);
      text-decoration: none !important;
      font-weight: bold;
    }

    .version {
      font-size: 0.75rem;
      font-weight: bold;
      color: nb-theme(color-fg-heading);
    }
  }

  .stars {
    width: 95px;
    height: 20px;
    margin-left: auto;
  }

  @include media-breakpoint-down(md) {
    /deep/ nb-menu .menu-items {
      justify-content: flex-end;

      li {
        display: none;

        &:nth-child(1), &:nth-child(2) {
          display: flex;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    /deep/ nb-menu .menu-items li:nth-child(2) {
      display: none;
    }
  }
}
