<nb-card [nbSpinner]="true" nbSpinnerSize="tiny">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="true" nbSpinnerSize="small">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="true" nbSpinnerSize="medium">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="true" nbSpinnerSize="large">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="true" nbSpinnerSize="giant">
  <nb-card-body>
    Some card content.
  </nb-card-body>
</nb-card>
