<nb-layout>
  <nb-layout-header fixed>
    <nb-search type="rotate-layout"></nb-search>
  </nb-layout-header>
  <nb-sidebar>Sidebar</nb-sidebar>

  <nb-layout-column class="colored-column-basic">
    <nb-card accent="info">
      <nb-card-header>Interstellar Cloud</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
