<nb-card>
  <nb-card-body>
    <p>Only picture</p>
    <nb-user size="large" name="Jonh Doe" title="Engineer" onlyPicture> </nb-user>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <p>Name hidden</p>
    <nb-user size="large" name="Jonh Doe" title="Engineer" showName="false"> </nb-user>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <p>Title hidden</p>
    <nb-user size="large" name="Jonh Doe" title="Engineer" showTitle="false"> </nb-user>
  </nb-card-body>
</nb-card>
