<nb-card>
  <nb-card-body>

    <nb-user size="small"
             name="John Doe"
             title="Engineer">
    </nb-user>

  </nb-card-body>
</nb-card>


<nb-card>
  <nb-card-body>

    <nb-user size="middle"
             name="John Doe"
             title="Engineer">
    </nb-user>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-user size="large"
             name="John Doe"
             title="Engineer">
    </nb-user>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <nb-user size="xlarge"
             name="John Doe"
             title="Engineer">
    </nb-user>
  </nb-card-body>
</nb-card>
