<nb-card>
  <nb-card-body>

    <nb-user size="tiny"
             name="John Doe"
             title="Engineer"
             [showTitle]="false">
    </nb-user>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-user size="small"
             name="John Doe"
             title="Engineer"
             [showTitle]="false">
    </nb-user>

  </nb-card-body>
</nb-card>


<nb-card>
  <nb-card-body>

    <nb-user size="medium"
             name="John Doe"
             title="Engineer">
    </nb-user>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-user size="large"
             name="John Doe"
             title="Engineer">
    </nb-user>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <nb-user size="giant"
             name="John Doe"
             title="Engineer">
    </nb-user>
  </nb-card-body>
</nb-card>
