@import '../../styles/themes';

@include nb-install-component {
  display: flex;
  max-width: nb-theme(content-width);
  margin: auto;
  padding: 0 1rem;

  .logo-container {
    font-size: 30px;

    a {
      display: flex;
      align-items: center;
    }

    .svg-logo {
      width: 65px;
      height: 44px;
      margin-right: 20px;
    }
  }

  .menu {
    margin: auto;
    font-size: 20px;
    font-weight: bold;

    a {
      position: relative;
      display: inline-block;
      height: nb-theme(header-height);
      padding: 0 1rem;

      &.active-link::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        background: rgba(nb-theme(color-primary), 0.8);
        border-radius: 2px;
        transition: .3s ease-in-out;
        bottom: 16px;
        left: 0;
      }
    }
  }

  .menu-icon {
    display: none;
  }

  /deep/ nb-menu.mobile-menu {
    position: fixed;
    top: nb-theme(header-height);
    left: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    background: nb-theme(color-bg);
    transition: height 0.3s ease-out;

    a, a:hover {
      color: nb-theme(color-fg);
      font-weight: bold;
      padding: 0.375rem 1rem;
    }
    & > ul > li {
      padding: 0.25rem 0;
      & > a:first-child {
        &:not([ng-reflect-router-link]) {
          pointer-events: none;
        }
      }
    }
    i {
      display: none;
    }
    .menu-collapsed, .menu-expanded {
      visibility: visible;
      opacity: 1;
      height: 100%;
      a {
        padding-left: 1rem;
        font-weight: normal;
        &.active {
          font-weight: bold;
          color: nb-theme(color-fg-active);
        }
      }
    }
  }

  @media screen and (max-width: 1500px) and (min-width: 900px) {
    padding-right: 150px;
  }

  @media screen and (max-width: 1140px) {
    span {
      display: none;
    }
  }

  @media screen and (max-width: 900px) {
    .menu {
      display: none;
    }
    .menu-icon {
      font-size: 40px;
      display: block;
      margin: 0 0 0 auto;
      cursor: pointer;
    }

    .mobile-menu.active {
      height: calc(100vh - #{nb-theme(header-height)});
      overflow: auto;
    }
  }

  @media screen and (max-width: 1140px) {
    span {
      display: none;
    }
  }
}

