<div class="scrollable-container" #scrollableContainer (scroll)="onScroll($event)">
  <div class="layout">
    <ng-content select="nb-layout-header:not([subheader])"></ng-content>
    <div class="layout-container">
      <ng-content select="nb-sidebar"></ng-content>
      <div class="content" [class.center]="centerValue">
        <ng-content select="nb-layout-header[subheader]"></ng-content>
        <div class="columns">
          <ng-content select="nb-layout-column"></ng-content>
        </div>
        <ng-content select="nb-layout-footer"></ng-content>
      </div>
    </div>
  </div>
</div>
