<nb-card>
  <nb-card-body>
    <nb-alert status="primary">Primary. You have been successfully authenticated!</nb-alert>
    <nb-alert status="success">Success. You have been successfully authenticated!</nb-alert>
    <nb-alert status="info">Info. You have been successfully authenticated!</nb-alert>
    <nb-alert status="danger">Danger. You have been successfully authenticated!</nb-alert>
    <nb-alert status="warning">Warning. You have been successfully authenticated!</nb-alert>
    <nb-alert disabled>Disabled. You have been successfully authenticated!</nb-alert>
  </nb-card-body>
</nb-card>
