<div class="step-header-container"
     [class.step-header-container-selected]="selected"
     [class.step-header-container-completed]="!selected && completed">
  <div class="step-index-label-container">
    <span *ngIf="!completed || selected">{{ index + 1 }}</span>
    <i *ngIf="!selected && completed" class="stepper-icon nb-checkmark"></i>
  </div>
  <div class="step-label">
    <span *ngIf="!_isTemplateInside()">{{ label }}</span>
    <ng-container *ngIf="_isTemplateInside()" [ngTemplateOutlet]="labelTemplate"></ng-container>
  </div>
</div>
