.step-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.step-index-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.step-label {
  width: max-content;
}
