<ul class="tabset">
  <li *ngFor="let tab of tabs"
      (click)="selectTab(tab)"
      (keyup.space)="selectTab(tab)"
      (keyup.enter)="selectTab(tab)"
      [class.responsive]="tab.responsive"
      [class.active]="tab.active"
      [class.disabled]="tab.disabled"
      [attr.tabindex]="tab.disabled ? -1 : 0"
      class="tab">
    <a href (click)="$event.preventDefault()" tabindex="-1" class="tab-link">
      <nb-icon *ngIf="tab.tabIcon" [icon]="tab.tabIcon"></nb-icon>
      <span *ngIf="tab.tabTitle" class="tab-text">{{ tab.tabTitle }}</span>
    </a>
    <nb-badge *ngIf="tab.badgeText"
              [text]="tab.badgeText"
              [status]="tab.badgeStatus"
              [position]="tab.badgePosition">
    </nb-badge>
  </li>
</ul>
<ng-content select="nb-tab"></ng-content>
