@import '../../../@theme/styles/themes';

$color-white-default: #ffffff;
$background-tab-header: #ebeff5;

:host {
  display: block;
  position: relative;

  button {
    background: transparent;
    color: nb-theme(color-fg-heading);
    text-transform: inherit;
    padding: 0;
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
    top: 0.45rem;
    font-weight: normal;
    font-size: 0.9rem;

    .icon {
      font-size: 0.95rem;
    }

    &:focus, &:active, &:hover {
      cursor: pointer;
      color: nb-theme(color-fg-heading);
      outline: 0;
    }
  }
}

@include nb-install-component() {
  /deep/ nb-tabset {
    border-radius: 0.5rem 0.5rem 0 0;

    > ul {
      padding: 0;
      margin-bottom: 0;
      border-radius: 0.5rem 0.5rem 0 0;
      background-color: $background-tab-header;
      overflow: hidden;

      li {
        padding: 0.4rem;
        width: 20%;
        margin-bottom: 0;

        &:first-child {
          margin-left: 0;
        }

        a {
          color: nb-theme(color-fg-heading);
        }

        &.active {
          background: linear-gradient(225deg, #333c66 0%, #1d2447 100%);

          a {
            color: $color-white-default;
          }
        }
      }
    }

    &.tabs-container .container {
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}

