<nb-card>
  <nb-card-body>
    <nb-accordion>
      <nb-expansion-panel>
        <nb-expansion-panel-header>
          <nb-expansion-panel-title>Accordion #1</nb-expansion-panel-title>
          <nb-expansion-panel-description>Description #1</nb-expansion-panel-description>
        </nb-expansion-panel-header>
        <nb-expansion-panel-body>
          <span>Accordion Body</span>
        </nb-expansion-panel-body>
      </nb-expansion-panel>

      <nb-expansion-panel>
        <nb-expansion-panel-header>
          <nb-expansion-panel-title>Accordion #2</nb-expansion-panel-title>
          <nb-expansion-panel-description>Description #2</nb-expansion-panel-description>
        </nb-expansion-panel-header>
        <nb-expansion-panel-body>
          <span>Accordion Body</span>
        </nb-expansion-panel-body>
      </nb-expansion-panel>

      <nb-expansion-panel>
        <nb-expansion-panel-header>
          <nb-expansion-panel-title>Accordion #3</nb-expansion-panel-title>
          <nb-expansion-panel-description>Description #3</nb-expansion-panel-description>
        </nb-expansion-panel-header>
        <nb-expansion-panel-body>
          <span>Accordion Body</span>
        </nb-expansion-panel-body>
      </nb-expansion-panel>
    </nb-accordion>
  </nb-card-body>
</nb-card>
