<nb-card>
  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>
          <nb-accordion-item-title>Accordion #1</nb-accordion-item-title>
          <nb-accordion-item-description>Description #1</nb-accordion-item-description>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <span>Accordion Body</span>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item hideToggle="true">
        <nb-accordion-item-header>
          <nb-accordion-item-title>Accordion #2</nb-accordion-item-title>
          <nb-accordion-item-description>Description #2</nb-accordion-item-description>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <span>Accordion Body</span>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item disabled="true">
        <nb-accordion-item-header>
          <nb-accordion-item-title>Accordion #3</nb-accordion-item-title>
          <nb-accordion-item-description>Description #3</nb-accordion-item-description>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <span>Accordion Body</span>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
