<button nbButton nbPopover="Bottom Popover!" nbPopoverPlacement="bottom">
  Bottom
</button>

<button nbButton nbPopover="Right Popover!" nbPopoverPlacement="right">
  Right
</button>

<button nbButton nbPopover="Left Popover!" nbPopoverPlacement="left">
  Left
</button>

<button nbButton nbPopover="End Popover!" nbPopoverPlacement="end">
  End
</button>

<button nbButton nbPopover="Start Popover!" nbPopoverPlacement="start">
  Start
</button>

<button nbButton nbPopover="Top Popover!" nbPopoverPlacement="top">
  Top
</button>
