<nb-select placeholder="Primary" status="primary" [(selected)]="selectedItem">
  <nb-option value="1">Option 1</nb-option>
  <nb-option value="2">Option 2</nb-option>
  <nb-option value="3">Option 3</nb-option>
  <nb-option value="4">Option 4</nb-option>
</nb-select>

<nb-select placeholder="Info" status="info" [(selected)]="selectedItem">
  <nb-option value="1">Option 1</nb-option>
  <nb-option value="2">Option 2</nb-option>
  <nb-option value="3">Option 3</nb-option>
  <nb-option value="4">Option 4</nb-option>
</nb-select>

<nb-select placeholder="Danger" status="danger" [(selected)]="selectedItem">
  <nb-option value="1">Option 1</nb-option>
  <nb-option value="2">Option 2</nb-option>
  <nb-option value="3">Option 3</nb-option>
  <nb-option value="4">Option 4</nb-option>
</nb-select>

<nb-select placeholder="Success" status="success" [(selected)]="selectedItem">
  <nb-option value="1">Option 1</nb-option>
  <nb-option value="2">Option 2</nb-option>
  <nb-option value="3">Option 3</nb-option>
  <nb-option value="4">Option 4</nb-option>
</nb-select>

<nb-select placeholder="Warning" status="warning" [(selected)]="selectedItem">
  <nb-option value="1">Option 1</nb-option>
  <nb-option value="2">Option 2</nb-option>
  <nb-option value="3">Option 3</nb-option>
  <nb-option value="4">Option 4</nb-option>
</nb-select>
