<nb-card>
  <nb-card-body class="example-items-rows">
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbButton status="basic">
      Default
    </button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="basic" nbButton status="basic">
      Basic
    </button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="primary" nbButton status="primary">
      Primary
    </button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="success" nbButton status="success">
      Success
    </button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="danger" nbButton status="danger">
      Danger
    </button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="info" nbButton status="info">
      Info
    </button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="warning" nbButton status="warning">
      Warning
    </button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="control" nbButton status="control">
      Control
    </button>
  </nb-card-body>
</nb-card>
