<nb-chat *ngFor="let chat of chats" [title]="chat.title" [status]="chat.status" size="small">
  <nb-chat-message *ngFor="let msg of chat.messages"
                   [type]="msg.type"
                   [message]="msg.text"
                   [reply]="msg.reply"
                   [sender]="msg.user.name"
                   [date]="msg.date"
                   [files]="msg.files"
                   [avatar]="msg.user.avatar">
  </nb-chat-message>
  <nb-chat-form (send)="sendMessage(chat.messages, $event)"></nb-chat-form>
</nb-chat>
