<nb-chat title="Drag & Drop with Button chat" size="medium">
  <nb-chat-message
    *ngFor="let msg of messages"
    [type]="msg.type"
    [message]="msg.text"
    [reply]="msg.reply"
    [sender]="msg.user.name"
    [date]="msg.date"
    [files]="msg.files"
    [avatar]="msg.user.avatar"
  >
  </nb-chat-message>

  <ng-template #fileListTemplate let-files>
    <ng-container *ngFor="let f of files; trackBy: trackById">
      <div *ngIf="f.src">
        <img [src]="f.src" />
        <span class="remove" (click)="chatForm.removeFile(f.id)">
          <nb-icon icon="close" pack="eva"></nb-icon>
        </span>
      </div>

      <div *ngIf="!f.src">
        <ng-container *ngIf="mimeMap | nbChatMimeToIcon: f.file.type as config">
          <nb-icon [icon]="config.icon" [pack]="config.pack"></nb-icon>
        </ng-container>
        <span class="remove" (click)="chatForm.removeFile(f.id)">
          <nb-icon icon="close" pack="eva"></nb-icon>
        </span>
      </div>
    </ng-container>
  </ng-template>

  <nb-chat-form
    #chatForm
    (send)="sendMessage($event)"
    [fileListTemplate]="fileListTemplate"
    [fileUploadMimeTypeToIcon]="mimeMap"
    [acceptedFileTypes]="supportedFilesForUpload"
    [dropFiles]="true"
    [showFileUploadButton]="true"
    (onFilesChange)="filesChange($event)"
  ></nb-chat-form>
</nb-chat>
