@import '../../../@theme/styles/themes';

@include nb-install-component() {

  // TODO: move some variables in Nebular themes
  // colors
  $color-white-default: #ffffff;
  $color-default-background: #ebeff5;
  $color-cosmic-background: #2f296b;
  $color-gray-text: #a4abb3;
  $color-cosmic-text: #7d838b;

  // border-radius
  $border-radius-8px: 8px;
  $border-radius-action-item: 6px;

  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 2.5rem 1.5rem;
  border-radius: $border-radius-8px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.875rem;
  }

  .title {
    font-weight: bold;
    text-transform: capitalize;
  }

  .actions {
    display: flex;

    .icon {
      font-size: 1.25rem;
    }
  }

  .action-item {
    background-color: $color-white-default;
    border-radius: $border-radius-action-item;
    height: 100%;
    line-height: 1;
    border: none;
    color: $color-gray-text;
    padding: 0.75rem;
    margin-left: 0.625rem;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }
  }

  .action-selector {
    position: relative;

    .icon {
      color: $color-gray-text;
      position: absolute;
      top: 0.75rem;
      left: 1.25rem;
    }

    /* Target IE9 - IE11 */
    select::-ms-expand {
      display: none;
    }

    select {
      font-size: 0.875rem;
      padding-left: 2.5rem;
      padding-right: 4.375rem;
      appearance: none;
    }
  }

  &.theme-default {
    background-color: $color-default-background;
  }

  &.theme-cosmic {
    background-color: $color-cosmic-background;

    .title {
      color: white;
    }
    .action-item {
      color: $color-cosmic-text;
    }
  }

  iframe {
    width: 100%;
    border: none;
  }
}

