@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .inheritance-icon {
    margin: 0 0.25rem;
  }

  .inheritance-property {
    color: nb-theme(color-fg);
  }

  .parent-theme-name {
    margin-left: 0.25rem;
  }

  .highlighted-row {
    background-color: nb-theme(theme-table-selected) !important;
  }

  .search-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: nb-theme(color-fg);
    background-color: nb-theme(color-white);
    background-clip: padding-box;
    border: 1px solid nb-theme(color-gray);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
