// nb theming framework
@import '../../../src/framework/theme/styles/theming';
// nb our of the box themes
@import '../../../src/framework/theme/styles/themes';

// which themes you what to enable (empty to enable all - not recommended)
$nb-enabled-themes: (default);

$nb-themes: nb-register-theme((
  font-main: Roboto,
  //font-secondary: Roboto,//was Exo, may be needed for homepage
  font-size-lg: 2rem,
  color-bg: white,
  color-fg-highlight: #7659ff,
  color-fg-text: rgba(black, 0.87),
  color-fg-landing: #e0e0ff,
  color-fg: #a6adff,
  color-fg-active: #42db7d,
  color-primary: #8a7fff,
  shadow: none,

  link-color-active: color-fg-highlight,
  link-color-hover: color-fg-highlight,

  content-width: 1312px,

  header-bg: #fff,
  menu-submenu-item-padding: 0.125rem 0,
  menu-icon-color: #a4abb3,
  menu-font-weight: font-weight-normal,
  menu-active-font-weight: font-weight-bolder,
  menu-submenu-item-border-width: 0,
  menu-active-fg: color-fg-text,
  menu-submenu-active-fg: color-fg-active,
  menu-submenu-hover-fg: color-fg-active,
  menu-group-gap: 1rem,//custom variable
  menu-item-padding: 0.125rem 1rem,
  menu-submenu-padding: 0,
  menu-submenu-item-container-padding: 0 1rem,
  form-control-border-radius: 3px,
  form-control-border-width: 1px,
  form-control-placeholder-color: #a4abb3,
  btn-border-radius: 3px,

  content-top-gap: 2rem,//custom variable
  content-left-gap: 2rem,
  page-title-padding-top: 0.25rem,//custom variable
  second-heading-font-size: 1.5rem,//custom variable
  second-heading-font-weight: font-weight-bolder,//custom variable
  third-heading-font-size: 1.125rem,//custom variable
  third-heading-font-weight: font-weight-bolder,//custom variable
  block-margin: 2rem,//custom variable
  block-title-margin-bottom: 1rem,//custom variable
  block-title-font-size: 1.25rem,//custom variable
  block-title-font-weight: font-weight-bolder,//custom variable
  block-subtitle-font-size: 1rem,//custom variable
  block-subtitle-font-weight: font-weight-normal,//custom variable
  theme-header-height: 160px,//used by app.component processFragment(), custom variable
  theme-active-row-bg: #e5f2ff,//custom variable

  table-min-width: 768px,//custom varible
  code-snippets-bg: #f5f6fc,//custom variable
  table-row-odd-bg: code-snippets-bg,//custom variable

  card-padding-small: 1rem 1rem 1rem 1rem,
  layout-padding: 0,
  layout-medium-padding: 0,
  layout-small-padding: 0,

  layout-bg: white,
  layout-content-padding: 0 1rem,
  sidebar-width: 15rem,

  header-shadow: none,
  menu-font-size: 1.25rem,
  menu-fg: color-fg-text,
  card-line-height: 1.25,
  card-header-font-size: 2rem,
  card-header-font-weight: font-weight-bolder,
  card-font-weight: font-weight-normal,
  card-padding: 1rem 1rem 1rem 2.5rem,
  card-separator: transparent,

  layout-content-width: 1312px,
  header-menu-width: 320px,
  color-fg-inverse: white,
  docs-content-margin-top: 1.5rem,
  right-sidebar-width: 17.5rem,

  inline-code-color: color-fg-highlight,
  header-padding: 0,
  header-line-height: header-height,
  menu-active-bg: color-bg,
  menu-submenu-active-bg: color-bg,
  footer-height: 100px,
  footer-bg: color-bg,
  footer-fg: color-fg,
  footer-padding: 1rem,
  layout-line-height: 1.5,
  sidebar-bg: color-bg,

  sidebar-padding: 0.5rem,
  footer-separator: rgba(0, 0, 0, 0.1),

  landing-font: Exo,
  landing-golden: #ffd22d,
  landing-red: #fc3b41,
  landing-fg: #b7b7fe,
  landing-fg-light: #e0e0ff,
  landing-highlight: #42db7d,
  landing-primary: #8a7fff,
  landing-bg: #13113b,
), default, default);

