// nb theming framework
@import '../../../src/framework/theme/styles/theming';
// nb our of the box themes
@import '../../../src/framework/theme/styles/themes';

// which themes you what to enable (empty to enable all - not recommended)
$nb-enabled-themes: (default);

$nb-themes: nb-register-theme((
  font-secondary: Exo,
  font-size-lg: 2rem,
  color-bg: white,
  color-fg-highlight: #7659ff,
  color-fg-text: rgba(black, 0.87),
  color-fg-landing: #e0e0ff,
  color-fg: #a6adff,
  color-fg-active: #42db7d,//color-fg-highlight,
  color-primary: #8a7fff,
  shadow: none,

  //header-height: 4.75rem,
  header-bg: #fff,

  layout-padding: 0,
  layout-bg: white,
  layout-content-padding: 0 1rem,
  sidebar-width: 12rem,

  header-shadow: none,
  menu-font-size: 1.25rem,
  menu-fg: color-fg-text,
  card-line-height: 1.25,
  card-header-font-size: 2.5rem,

  content-width: 1312px,
  layout-content-width: 1312px,
  header-menu-width: 320px,
  color-fg-inverse: white,
  docs-content-margin-top: 1.5rem,
  right-sidebar-width: 17.5rem,
  code-snippets-bg: #f5f6fc,
  inline-code-color: color-fg-highlight,
  header-padding: 0,
  header-line-height: header-height,
  menu-active-bg: color-bg,
  menu-active-fg: color-fg-active,
  menu-submenu-active-fg: color-fg-active,
  menu-submenu-padding: 0,
  menu-submenu-active-bg: color-bg,
  footer-height: 100px,
  footer-bg: color-bg,
  footer-fg: color-fg,
  footer-padding: 1rem,
  layout-line-height: 1.5,
  sidebar-bg: color-bg,
  card-font-weight: 400,
  card-padding: 1rem,
  sidebar-padding: 0.5rem,
  footer-separator: rgba(0, 0, 0, 0.1),

  landing-golden: #ffd22d,
  landing-red: #fc3b41,
), default, default);

