@import 'themes';
@import '../../../src/framework/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();

  nb-layout-header, nb-layout-footer {
    nav {
      display: block !important; //to fix ie header-footer issue;
    }
  }
  pre {
    margin: 1.5rem 0;
  }
};

h2 {
  margin-bottom: 1rem;
}

// any other global styles
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.7);
}

// For Internet Explorer
body {
  scrollbar-face-color: rgba(0, 0, 0, 0.3);
  scrollbar-track-color: rgba(255, 255, 255, 0.7);
  min-width: 320px;
}

body.scrolless {
  overflow: hidden;
}
