/deep/ nb-layout-column {
  background: rgba(0, 0, 0, 0.1);
  height: 400px;
}

/deep/ .form {
  display: flex;
  flex-direction: column;

  .text-label {
    margin-top: 1.5rem;
  }
}

button + button {
  margin-left: 2rem;
}
