<nb-card size="large">
  <nb-card-body>
    <nb-chat title="Nebular Conversational UI">
      <nb-chat-message *ngFor="let msg of messages"
                       [type]="msg.type"
                       [reply]="msg.reply"
                       [sender]="msg.user.name"
                       [date]="msg.date"
                       [avatar]="msg.user.avatar">
        {{ msg.text }}
      </nb-chat-message>

      <nb-chat-form (send)="sendMessage($event)"></nb-chat-form>
    </nb-chat>
  </nb-card-body>
</nb-card>
