<nb-card size="large">
  <nb-card-body>

    <nb-chat title="Nebular Conversational UI">
      <nb-chat-message *ngFor="let msg of messages"
                       [type]="msg.type"
                       [message]="msg.text"
                       [reply]="msg.reply"
                       [sender]="msg.user.name"
                       [date]="msg.date"
                       [file]="msg.file"
                       [icon]="msg.icon"
                       [avatar]="msg.user.avatar">
      </nb-chat-message>

      <nb-chat-form (send)="sendMessage($event)"></nb-chat-form>
    </nb-chat>

  </nb-card-body>
</nb-card>
