<input nbInput [nbFilterInput]="dataSource">

<table nbTreeGrid [nbSort]="dataSource" [source]="dataSource">
  <tr nbHeaderRow *nbHeaderRowDef="columnsToDisplay"></tr>

  <tr nbRow *nbRowDef="let element; columns: columnsToDisplay"
      (click)="toggle(element)">
  </tr>

  <ng-container nbColumnDef="name">
    <th nbHeaderCell nbSortHeader="asc" *nbHeaderCellDef> Name</th>
    <td nbCell *nbCellDef="let element"> {{'*'.repeat(element.level)}} {{ element.name }} </td>
  </ng-container>

  <ng-container nbColumnDef="{{column}}" *ngFor="let column of cols">
    <th nbHeaderCell nbSortHeader="desc" *nbHeaderCellDef> {{column}} </th>
    <td nbCell *nbCellDef="let element"> {{element[ column ]}} </td>
  </ng-container>

</table>
