<nb-card>
  <nb-card-body>

    <nb-actions size="small">
      <nb-action icon="nb-search"></nb-action>
      <nb-action icon="nb-power-circled"></nb-action>
      <nb-action icon="nb-person"></nb-action>
      <nb-action icon="nb-home"></nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-actions size="medium">
      <nb-action icon="nb-search"></nb-action>
      <nb-action icon="nb-power-circled"></nb-action>
      <nb-action icon="nb-person"></nb-action>
      <nb-action icon="nb-home"></nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-actions size="large">
      <nb-action icon="nb-search"></nb-action>
      <nb-action icon="nb-power-circled"></nb-action>
      <nb-action icon="nb-person"></nb-action>
      <nb-action icon="nb-home"></nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>
