<nb-card size="small">
  <nb-card-body class="example-items-col">

    <button (click)="toggleDisabled()" nbButton>Toggle disabled</button>

    <label>
      <span class="label">Disabled via <i>disabled</i> attribute</span>
      <input [nbAutocomplete]="auto"
             [disabled]="disabled"
             nbInput
             type="text"
             placeholder="Plain input" />
    </label>

    <label>
      <span class="label">Disabled via <i>formControl</i></span>
      <input [nbAutocomplete]="auto"
             [formControl]="inputFormControl"
             nbInput
             type="text"
             placeholder="Form control" />
    </label>

    <nb-autocomplete #auto>
      <nb-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </nb-option>
    </nb-autocomplete>

  </nb-card-body>
</nb-card>
