:host {
  display: flex;
  align-items: center;
  width: 25rem;
  margin: 0.5rem;

  .title {
    font-weight: 800;
    margin-right: 0.25rem;
  }

  .icon {
    margin-right: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  > .content-container {
    line-height: 1.25;

    > .content {
      font-weight: 300;
    }
  }

  &.default {
    .content-container {
      display: flex;
      flex-direction: row;
    }
  }
}
