@import '../../styles/themes';

/deep/ .nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer nav {
  margin-top: -167px;
  position: relative;
  z-index: 2;
  background: transparent;
  border: 0;
  color: white;
  font-size: 16px;

  p {
    flex: 1;
  }
  .socio a {
    color: white;
  }
}

@media screen and (max-width: 1300px) {
  /deep/ .nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer nav {
    margin-top: -100px;
    .footer-inner {
      font-size: 18px;
      padding: 0 40px;
    }
  }
}

@media screen and (max-width: 1024px) {
  /deep/ .nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer nav {
    margin-top: -100px;
  }
}

@include nb-install-component {

  max-width: nb-theme(content-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  .socio {
    a, a:hover, a:focus, a:active {
      font-size: 41px;
      color: nb-theme(color-primary);
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  @media screen and (max-width: 970px) {
    p {
      font-size: 0.75rem;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column-reverse;
    .socio {
      display: none;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
