<nb-card>
  <nb-card-body class="example-items-rows">
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbButton>Top</button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="right" nbButton>Right</button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="end" nbButton>End</button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="bottom" nbButton>Bottom</button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="left" nbButton>Left</button>
    <button nbTooltip="This is a tooltip" nbTooltipPlacement="start" nbButton>Start</button>
  </nb-card-body>
</nb-card>
