@import '../styles/themes';

@include nb-install-root-component {

  nb-layout-header {
    border-bottom: 1px solid #eee;
  }

  /deep/ .layout-container {
    max-width: nb-theme(content-width);
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    .content {
      margin-top: nb-theme(content-top-gap);
      min-width: 0;
      nb-layout-column {
        min-width: 0;
      }
    }

    nb-sidebar {
      margin-top: nb-theme(content-top-gap);
      z-index: auto; // Really need it to make  sidebar content visible in ie
      .main-container {
        height: calc(100vh - #{nb-theme(header-height)} - #{nb-theme(content-top-gap)}) !important;
      }

      nb-menu {
        & > ul > li > a:first-child {
          margin: 0.5rem 0;
        }

        .menu-items > .menu-item:first-child {
          border-top: none;
        }
        .menu-items > .menu-item:last-child {
          border-bottom: none;
        }
        span {
          letter-spacing: -1px;
        }

        & > ul > li {
          ul a {
            font-size: 1.125rem;
          }
          & > ul.menu-items {
            margin-bottom: nb-theme(menu-group-gap);
          }
          & > a:first-child {
            font-weight: nb-theme(font-weight-bolder);
          }
        }
        a {
          &:hover {
            font-weight: nb-theme(menu-font-weight);
          }
          &.active {
            font-weight: nb-theme(menu-active-font-weight);
          }
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    nb-sidebar {
      display: none;
    }
  }
}
