@import '../styles/themes';

@include nb-install-root-component {

  nb-layout-header {
    border-bottom: 1px solid #eee;
  }

  /deep/ .layout-container {
    max-width: nb-theme(content-width);
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    .content {
      margin-top: nb-theme(content-top-gap);
      min-width: 0;
      nb-layout-column {
        min-width: 0;
      }
    }

    nb-sidebar {
      margin-top: nb-theme(content-top-gap);
      z-index: auto; // Really need it to make  sidebar content visible in ie
      nb-menu {
        span {
          letter-spacing: -1px;
        }
        .collapsed {
          visibility: visible;
          opacity: 1;
          height: 100%;
        }
        i {
          display: none;
        }

        & > ul > li {
          & > ul.menu-items {
            margin-bottom: nb-theme(menu-group-gap);
          }
          & > a:first-child {
            font-weight: nb-theme(font-weight-bolder);
            cursor: default;
          }
        }
        a {
          &:hover {
            font-weight: nb-theme(menu-font-weight);
          }
          &.active {
            font-weight: nb-theme(menu-active-font-weight);
          }
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    nb-sidebar {
      display: none;
    }
  }
}
