<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab tabTitle="Users"
              badgeText="99+"
              badgeStatus="danger">
        <p>List of <strong>users</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Orders"
              badgeText="12"
              badgePosition="bottom right"
              badgeStatus="warning">
        <p>List of <strong>orders</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Transactions"
              badgeText="new"
              badgePosition="top right"
              badgeStatus="success">
        <p>List of <strong>transactions</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Notifications"
              badgeDot
              badgePosition="center start"
              badgeStatus="danger">
        <p>List of <strong>notifications</strong>.</p>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>
