<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab tabIcon="person-outline">
        <p>List of <strong>users</strong>.</p>
      </nb-tab>
      <nb-tab [tabIcon]="bellIconConfig">
        <p>List of <strong>orders</strong>.</p>
      </nb-tab>
      <nb-tab tabIcon="email-outline">
        <p>List of <strong>transactions</strong>.</p>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-tabset fullWidth>
      <nb-tab tabIcon="person-outline">
        <p>List of <strong>users</strong>.</p>
      </nb-tab>
      <nb-tab tabIcon="bell-outline">
        <p>List of <strong>orders</strong>.</p>
      </nb-tab>
      <nb-tab tabIcon="email-outline">
        <p>List of <strong>transactions</strong>.</p>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab tabTitle="Users" tabIcon="person-outline" responsive>
        <p>List of <strong>users</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Orders" tabIcon="bell-outline" responsive>
        <p>List of <strong>orders</strong>.</p>
      </nb-tab>
      <nb-tab tabTitle="Transactions" tabIcon="email-outline" responsive>
        <p>List of <strong>transactions</strong>.</p>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>

