@import '../../../@theme/styles/themes';

@include nb-install-component() {
  display: flex;
  flex-wrap: wrap;

  $tabs-fg: nb-theme(color-fg-heading-light);
  $tabs-fg-active: nb-theme(color-fg-heading);
  $tabs-bg-active: nb-theme(color-white);
  $tabs-shadow: 0 8px 20px 0 rgba(218, 224, 235, 0.6);
  $tabs-accent-line: nb-theme(color-fg-highlight);

  a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    width: 50%;
    height: 7.5rem;
    font-size: 0.875rem;
    text-decoration: none;
    color: $tabs-fg;
    margin-bottom: 1rem;

    strong {
      padding-bottom: 0.75rem;
      font-weight: 500;
    }

    .icon {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }

    &.selected {
      background: white;
      color: $tabs-fg-active;
      box-shadow: $tabs-shadow;

      .line {
        height: 0.1875rem;
        width: 60%;
        background: $tabs-accent-line;
        border-radius: 1.5px;
      }
    }
  }
}
