name: PR check
on: [ push ]
jobs:
  build-packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - run: npm ci
      - run: npm run build:packages
      - uses: actions/upload-artifact@v2
        with:
          name: built-packages
          path: 'dist/'
          retention-days: 1
  build-docs:
    needs: build-packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm ci
      - run: npm run docs:build
  build-playground:
    needs: build-packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm ci
      - uses: actions/download-artifact@v2
        with:
          name: built-packages
          path: dist
      - run: npm run build playground -- --configuration=production-wp
#  lint:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - uses: actions/setup-node@v2
#        with:
#          node-version: '14'
#      - run: npm ci
#      - run: npm run ci:lint
  e2e:
    needs: build-packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm ci
      - uses: actions/download-artifact@v2
        with:
          name: built-packages
          path: dist
      - name: BrowserStack Setup
        uses: 'browserstack/github-actions@master'
        with:
          username: ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      - name: Start BrowserStackLocal Tunnel
        uses: browserstack/github-actions/setup-local@master
        with:
          local-testing: start
      - name: Test
        run: npm run ng -- e2e playground-e2e --configuration=production-wp
      - name: Stop BrowserStackLocal Tunnel
        uses: browserstack/github-actions/setup-local@master
        with:
          local-testing: stop
  unit-test:
    needs: build-packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm ci
      - uses: actions/download-artifact@v2
        with:
          name: built-packages
          path: dist
      - name: BrowserStack Setup
        uses: 'browserstack/github-actions@master'
        with:
          username: ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      - name: Start BrowserStackLocal Tunnel
        uses: browserstack/github-actions/setup-local@master
        with:
          local-testing: start
      - name: Test packages
        run: npm run test playground -- -c=production-wp --watch=false
      - name: Test schematics
        run: npm run test:schematics
      - name: Stop BrowserStackLocal Tunnel
        uses: browserstack/github-actions/setup-local@master
        with:
          local-testing: stop
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v2
  packages-smoke:
    needs: build-packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: actions/download-artifact@v2
        with:
          name: built-packages
          path: dist
      - run: npm ci
        working-directory: packages-smoke
      - name: Build
        run: npm run build -- --configuration=production
        working-directory: packages-smoke
      - name: E2E
        run: npm run e2e
        working-directory: packages-smoke
      - name: SSR
        run: |
          npm run build:ssr
          npm run serve:ssr
        working-directory: packages-smoke
