<nb-card>
  <nb-card-body class="example-items-rows">
    <nb-checkbox status="basic">Basic</nb-checkbox>
    <nb-checkbox status="primary">Primary</nb-checkbox>
    <nb-checkbox status="success">Success</nb-checkbox>
    <nb-checkbox status="danger">Danger</nb-checkbox>
    <nb-checkbox status="warning">Warning</nb-checkbox>
    <nb-checkbox status="info">Info</nb-checkbox>
    <div class="control-status-example">
      <nb-checkbox status="control">Control</nb-checkbox>
    </div>
  </nb-card-body>
</nb-card>
