<nb-card>
  <nb-card-body class="example-items-col">
    <nb-button-group size="tiny">
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>

    <nb-button-group size="small">
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>

    <nb-button-group size="medium">
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>

    <nb-button-group size="large">
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>

    <nb-button-group size="giant">
      <button nbButtonToggle>A</button>
      <button nbButtonToggle>B</button>
      <button nbButtonToggle>C</button>
      <button nbButtonToggle>D</button>
      <button nbButtonToggle>E</button>
      <button nbButtonToggle>F</button>
    </nb-button-group>

  </nb-card-body>
</nb-card>
