<nb-card>
  <nb-card-body>
    <nb-alert outline="success">You have been successfully authenticated!</nb-alert>
    <nb-alert outline="danger">You have been successfully authenticated!</nb-alert>
    <nb-alert outline="primary">You have been successfully authenticated!</nb-alert>
    <nb-alert outline="info">You have been successfully authenticated!</nb-alert>
    <nb-alert outline="warning">You have been successfully authenticated!</nb-alert>
    <nb-alert outline="active">You have been successfully authenticated!</nb-alert>
    <nb-alert outline="disabled">You have been successfully authenticated!</nb-alert>
  </nb-card-body>
</nb-card>
